input[type='number']
  -moz-appearance: textfield;
input::-webkit-clear-button,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
  -webkit-appearance: none;
input
  box-shadow : none
a
  text-decoration: none
  transition: color .3s
  // &:hover
*
  -webkit-tap-highlight-color: transparent
  +placeholder 
    font-family: 'cerar'
    +rem(letter-spacing, 0.2px)
    font-size: 11px
  +rm(768)
    +scrollbar
      +rem(width,4px)
      // background: $graybg
    ::-webkit-scrollbar-thumb 
      +rem(width,6px)
      +rem(border-radius,3px)
      background: #888888
      cursor: pointer
textarea
  line-height: 1.5
ul
  li>a 
    display: inline-block
    width: 100%
html
  font-size: 16px
  line-height: 1
  +r(1366)
    font-size: 15px
  +r(1280)
    font-size: 14px
  +r(991)
    font-size: 16px
  +r(769)
    font-size: 15px
  +r(544)
    font-size: 14px

body
  background-color: #fff
  +box
  +font-smoothing
  text-rendering: optimizeLegibility
  & ::selection
    background-color: #eaf6ef
    color:#1e2521
  & ::-moz-selection
    background-color: #eaf6ef
    color:#1e2521
body
  font-family: 'cera'
  overflow: hidden
  position: relative
body, .out,html
  width: 100%
  height: 100%
  &.modal-opened
    overflow: hidden
.out
  overflow-y: scroll
  overflow-x: hidden
  position: relative
  -webkit-overflow-scrolling: touch;
  +rm(768)
    // +scrollbar
    //   +rem(width,10px)
    // ::-webkit-scrollbar-thumb 
    //   +rem(width,10px)
    //   border-radius: 10px !important
    //   cursor: pointer

// main page layout
.page
  &__wrapper
    background-color: #fff
    display: flex
    flex-wrap: nowrap
    flex-direction: column
    height: 100%
  &__outer
    width: 100%
    display: block
    height: 100%
  &__header
    position: fixed
    +rem(height,100px)
    left: 0
    right: 0
    top: 0
    background: $white
    display: flex
    flex-wrap: nowrap
    justify-content: space-between
    align-items: center
    z-index: 20
    +rem(padding,32.5px 50px 30px 50px)
    +r(1150)
      +rem(padding,32.5px 25px 30px 25px)
    +r(768)
      +rem(padding,15px 25px 15px 25px)
      +rem(height,60px)
  &__footer
    +cover
    position: relative
    flex: 0 0 auto
    &:before
      content: ''
      +coverdiv
      background-color: rgba(45,45,45, .9)
  &__content
    background: $white
    +rem(padding,100px 50px 103px 50px)
    flex: 1 0 auto
    +r(1150)
      +rem(padding,100px 25px 103px 25px)
    +r(768)
      +rem(padding,60px 25px 103px 25px)
    +r(544)
      +rem(padding,60px 15px 103px 15px)



//utility
//text-types
.u-light
  font-weight: 300
.u-reg
  font-weight: 400
.u-bold
  +rem(letter-spacing,0.2px)
  font-weight: 700
.u-title
  font-weight: 300
.describe-text
  +rem(font-size,16px)
  color: $white
  opacity: 0.3
  line-height: 1.3 
  font-weight: 300
.smalllight
  +rem(font-size,12px)
  color: #a0a0a0
  font-weight: 300
.box-title
  font-weight: 100
  +rem(font-size,42px)
  text-align: center
  +rem(margin,0 auto 20px )
  +rem(letter-spacing,-1px)
.box-title-small
  font-weight: 100
  +rem(font-size,20px)
  text-align: center
  +rem(margin,0 auto 35px)
  line-height: 1.4
.u-number
  font-family: 'Fira Sans', sans-serif;
  +rem(letter-spacing,0.3px)
//size types
.s-text
  +rem(font-size,16px)
.s-medium
  +rem(font-size,14px)
.s-small
  +rem(font-size,12px)
.h1
  +rem(font-size,56px)
.h2
  +rem(font-size,42px)
.h3
  +rem(font-size,24px)
.h4
  font-weight: 700
  +rem(font-size,16px)
.h5
  font-weight: 700
  text-transform: uppercase
  +rem(font-size,14px)
.text1
  +rem(font-size,20px)
  line-height: 1.4
  font-weight: 300
  color: $halfgray
.text2
  +rem(font-size,16px)
  color: $text
  font-weight: 300
  line-height: 1.438
.title
  font-weight: 300

.h-title
  font-family: cera
  font-weight: 100
  line-height: 1
.gray
  background-color: $gray
//color types
.u-halfgray
  color: $halfgray
.u-halfblack
  color: $text
.u-black
  color: $text2
.u-white
  color: $white
.link-tel
  color: $text
  span
    text-transform: uppercase

.header
  &__hamburger
    position: relative
    vertical-align: top
    display: inline-block
    +rem(padding-top,20px)
    margin-right: 10.5%
  &__logo
    padding-left: 11.8%
    position: relative
    +rem(margin-top,-55px)
    +r(991)
      margin: auto
      padding-left: 18.8%
    +r(544)
      transform: translateX(8%)
    .logo-outer
      position: absolute
      left: 0
      right: 0
      top: 0
      .logo-middle
        position: relative
        padding-bottom: 85.5%
        &:before
          content: ''
          position: absolute
          +vcenter
          border-radius: 50%
          background: $white
          width: 70%
          height: 80%
        .logo-inner
          position: absolute
          left: 0
          right: 0
          bottom: 0
          top: 0
          z-index: 21
          background-image: url(../img/icons/logo.svg)
          +contain 
  &__navs
    width: 80%
    display: flex
    flex-flow: row wrap;
    justify-content: flex-end
    +r(991)
      width: auto
    &--phone,&--nav,&--cart
      display: inline-block
    &--phone
      display: flex
      align-items: center
      .link-tel 
        vertical-align: bottom
      +r(991)
        display: none
    &--cart
      +rem(margin,-42px -50px -19px 0)
      +rem(padding,42px 50px 25px 40px)
      +r(991)
        +rem(padding,42px 50px 35px 40px)
        +rem(margin,-42px -50px -35px 0)
      +r(768)
        +rem(margin,-25px -25px -17px 0)
        +rem(padding,25px 25px 17px 25px)
      &.active
        background: $text
        .u-reg
          color: $halfwhite
        .u-light,.u-number
          color: $white
          &+ .u-number
            color: #8a8a8a !important
        .stcart1,.stcart
          stroke: $white

        

    &--nav
      display: flex
      align-items: center
      margin: 0 3% 0 5.5%
      +r(991)
        display: none
    .nav-link
      font-weight: 300
      color: $halfgray
      +rem(font-size,16px) 
      +rem(margin-top,2px) 
      +padlr(14px) 
    &--login
      text-align: right
      transform: translateY(-5px)
      +r(991)
        display: none

    .cart
      &-icon,.u-light
        display: inline-block
        vertical-align: top
      .u-light
        +rem(margin-left,20px)
        +rem(margin-top,5px)
        +r(991)
          display: none
        &+ .u-number
          text-align: right
          +rem(letter-spacing,0.4px)
          +rem(margin-top,3px)
          color: transparent
          +r(991)
            +hidetext
      &-icon
        +rem(width,34px)
        +rem(height,27px)
        position: relative
        +rem(margin-top,-3px)
        .u-number
          position: absolute
          +rem(bottom,2px)
          left: 0
          right: 0
          text-align: center

.hamburger
  +rem(width, 42px)
  +rem(height, 20px)
  position: absolute
  // +rem(left, 25px)
  // +rem(top, 30px)
  left: 0
  top: 0
  &-inner 
    width: 100%
    height: 100%
    +rem(padding, 15px 10px)
    cursor: pointer
    position: relative
    text-align: center
    div 
      display: block
      position: relative
      +rem(width, 30px)
      +rem(height, 22px)
    span 
      height: 3px
      width: 100%
      display: block
      background-color: #000
      position: absolute
      opacity: 1
      left: 0
      transform: rotate(0deg)
      transition: 0.2s ease-in-out
      &:nth-child(1) 
        top: 0
      &:nth-child(2)
        +rem(top, 10px)
      &:nth-child(3)
        +rem(top, 20px)
    &.open 
      span 
        &:nth-child(1) 
          transform: rotate(135deg)
          +rem(top, 9px)
        &:nth-child(2)
          opacity: 0
          left: -60px
          +rem(left, -60px)
        &:nth-child(3)
          transform: rotate(-135deg)
          +rem(top, 9px) 

//footer block

.footer
  &__main
    display: block
    margin: 0 auto
    +rem(width,1220px)
    max-width: 100%
    +rem(padding,90px 10px 85px)
    position: relative
    z-index: 1
    +r(544)
      +rem(padding,40px 10px 50px)
    &-content 
      display: flex
      flex-flow: row nowrap
      justify-content: space-between
      +rem(padding,0 20px)
      +rem(margin,0 -10px)
      +r(768)
        flex-wrap: wrap
  &-content-block
    +rem(max-width,723px)
    display: flex
    flex-wrap: nowrap
    +r(991)
      order: 2
      width: 50% 
      flex-wrap: wrap
    +r(768)
      width: 100%
      +rem(padding-top,25px)
  &-contact
    &-block
      +rem(max-width,376px)
      +rem(margin-top,-3px)
      +r(991)
        order: 1
        width: 50%
        max-width: 100%
        +rem(padding-right,20px)
      +r(768)
        width: 100%
      +r(480)
        +rem(padding-right,0px)
    &-svyaz
      +rem(margin-bottom,38px)
      .u-number
        font-weight: 300
        +rem(margin,12px 0 11px)
        display: block
        +r(375)
          +rem(font-size,32px)
    &-mail
      .footer-form
        display: flex
        flex-flow: row nowrap
        justify-content: space-between
        align-content: flex-start
        +rem(border-radius,17px)
        +rem(height,35px)
        border: 1px solid $white
        +rem(margin-top,21px)
        // +rem(margin-right,-21px)
        &-input
          background: 0 0
          color: $white
          +rem(padding,0 17px)
          +r(480)
            width: 50%
        &-submit
          background: 0 0
          +rem(padding,0 17px)
          border-left: 1px solid $white
          +rem(width,140px)
          text-transform: uppercase
          +rem(font-size,14px)

  &-mailto
    .u-light
      display: inline-block
    .dot-divider
      +rem(padding,0 10px)
  &-nav
    &-block
      +rem(margin-top,-3px)
      +r(768)
        +rem(margin-top,25px)
        display: flex
        flex-flow: row nowrap
        width: 100%
      +r(480)
        flex-wrap: wrap
      ul
        +rem(margin-bottom,23px)
        +r(768)
          width: 50%
          +rem(margin-top,-23px)
        li 
          +r(768)
            +rem(padding,10px 0)
      .u-bold
        text-transform: uppercase
        +rem(padding-bottom,8px)
        +rem(margin-bottom,13px)
        +rem(font-size,14px)
    &-payment
      display: flex
      flex-wrap: wrap
      +rem(max-width,420px)
      +r(768)
        width: 50%
        max-width: 100%
        align-items: center
        align-content: flex-start
      // +r(480)
      //   width: 100%
      //   justify-content: center
      .payment-item
        +rem(min-width,80px)
        +rem(height,45px)
        +rem(margin-right,0px)
        +rem(padding-bottom,20px)
        position: relative
        +r(768)
           +rem(min-width,50px)
        &:hover
          +rm(991)
            img:first-child
              opacity: 0
            img:last-child
              opacity: 1
        &:nth-child(n+4)
          +rem(width,50px)
          min-width: 0
        img
          display: block
          +rem(max-width,70px)
          +rem(max-height,25px)
          margin: 0 auto
          position: absolute
          top: 0
          left: 0
          +tr(opacity .3s)
          &:last-child
            opacity: 0
            z-index: 1
  &-list
    width: 36% 
    +r(991)
      width: 50%
    .u-bold
      +rem(margin-bottom,20px)
      text-transform: uppercase
      +rem(font-size,14px)
    li
      +rem(padding,5px 0)
      +rem(margin-bottom,15px)
      line-height: 1.07
  &__footer
    background: #000
    position: relative
    z-index: 1
    .content-wrapp
      display: flex
      flex-flow: row wrap
      justify-content: space-between
      align-content: center
      +rem(padding,30px 0 35px)
      .copyright
        +r(544)
          width: 100%
          +rem(margin-bottom,20px)
      .social
        display: flex
        flex-flow: row nowrap
        +rem(margin-left,60px)
        +r(991)
          margin: 0
        +r(544)
          align-self: flex-start

      .soc-icon
        &-wrapp
          +rem(width,52px)
          +rem(height,30px)
          +rem(padding,0 11px)
          &:not(.insta)
            svg
              border-radius: 100%
          +r(544)
            &:first-child
              padding-left: 0
              +rem(width,41px)
          &:hover
            .soc-icon-item
              &:after
                +scale(1.05)
            .stsoc1
              fill: $white
          &.insta
            .soc-icon-item
              +vertical
              &:after
                background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
            svg
              +rem(width,17px)
              +rem(height,17px)
              vertical-align: middle 
          &.vk
            .soc-icon-item
              &:after
                background: radial-gradient(circle at 33% 100%,#507299 4%,#507299 30%,#507299 62%,#8fa7c1 85%,#b8d4f5);
          &.fb
            .soc-icon-item
              &:after
                background: radial-gradient(circle at 33% 100%,#3b5998 4%,#3b5998 30%,#3b5998 62%,#9b36b7 85%,#3b5998);
        &-item
          display: inline-block
          width: 100%
          height: 100%
          border-radius: 100%
          background: $white
          position: relative
          overflow: hidden

          svg
            display: inline-block
            width: 100%
            height: 100%
            position: relative
            z-index: 2
            
          .stsoc
            fill: transparent
          .stsoc1
            position: relative
            z-index: 2
            +tr(fill .3s)
          &:after
            content: ''
            position: absolute
            left: 0
            top: 0
            +rem(width,30px)
            +rem(height,30px)
            border-radius: 50%
            +tr(transform .3s)
            +scale(0)
            transform-origin: 50%
            z-index: 1
    .developer
      &:hover
        .flex
          fill: red
          stroke: red
        .u-bold
          color: red
      .dev
        &-icon,&-text
          display: inline-block
          vertical-align: top
        &-icon
          +rem(margin-top,-1px)
          +rem(margin-right,17px)
          svg
            display: inline-block
            +rem(width,33px)
            +rem(height,34px)
          .flex
            +tr(fill .3s)
      .u-bold
        +tr(color .3s)
      .u-bold,.smalllight
        +r(544)
          +hidetext  
            
.box-standart
  display: block
  margin: 0 auto
  +rem(max-width,1220px)
  width: 100%
  +rem(padding, 0 20px)
  position: relative
.box-section
  +rem(padding, 80px 20px)
  +r(991)
    +rem(padding, 30px 0)
  &>.repeat
    +rem(margin,20px auto)
    display: block
    +rem(width,180px)
    +rm(991)
      position: absolute
      +rem(left,20px)
      top: 9%
.box-full
  &.gray 
    +rem(margin,0 -50px)
    +r(1150)
      +rem(margin,0 -25px)

  &.box-section
    +rem(padding, 80px 20px)
    +r(991)
      +rem(padding, 30px 0)
    &>.repeat
      +rem(margin,20px auto)
      display: block
      +rem(width,180px)
      +rm(991)
        position: absolute
        +rem(left,20px)
        top: 9%
      
  .box-title
    +rem(margin-bottom,20px)
    +rem(letter-spacing,-1px)
  .box-title-small
    +rem(margin-bottom,35px)
    line-height: 1.4
>>>>>>> a4392d9461e4d6511513b23ada3f326c24ae2d27
.box-title,.box-title-small
  +rem(max-width,663px)  

.scroll-to-top
  +rem(width,50px)
  +rem(height,50px)
  border-radius: 50%
  border: 1px solid #777777
  position: fixed
  z-index: 2
  +rem(right, 50px)
  +rem(bottom, 40px)
  transform: translateY(100px)
  +tr(transform .3s)
  +r(544)
    +rem(width,40px)
    +rem(height,40px)
    +rem(right, 25px)
  &:hover
    &:before
      background: #e6e6e6
  &.visible
    transform: translateY(0)
  &:before
    +rem(width,40px)
    +rem(height,40px)
    +rem(margin-top,4px)
    +rem(margin-left,4px)
    background: $white
    border-radius: 50%
    content: ''
    display: inline-block
    +tr(background .3s)
    +r(544)
      +rem(width,30px)
      +rem(height,30px)
.index
  &-slider
    &-wrapper
      position: relative
      +r(991)
        +rem(margin-left,-25px)
        +rem(margin-right,-25px)
  &-slide
    position: relative
    padding-bottom: 5.7%
    &.white
      .title,.list
        color: $white
    +r(1600)
      padding-bottom: 5.5%
    +r(991)
      padding-bottom: 7.5%
    +r(768)
      padding-bottom: 10.5%
    +r(544)
      padding-bottom: 17.5%
    &-text
      position: absolute
      left: 12.9%
      top: 25%
      +rem(max-width,515px)
      width: 38%
      +r(1460)
        top: 15%
        width: 38%
        left: 10.9%
      +r(991)
        left: 4.9%
        top: 15%
        width: 60%
      +r(768)
        width: 100%
        text-align: center
        min-width: 100%
        left: 0
        right: 0
        +rem(padding,20px)
      +r(544)
        width: 95%
      .title
        margin-bottom: 11%
        +r(1150)
          +rem(font-size,45px)
        +r(768)
          +rem(font-size,35px)
          margin-bottom: 5%
      .btn 
        margin-top: 7%
        +r(768)
          +rem(padding,15px 20px 12px)
      .list
        +rem(max-width,285px)
        +r(768)
          margin: 0 auto
          +rem(max-width,295px)
        li 
          +rem(padding-bottom,17px)
          line-height: 1.3 
          text-align: left

    &-inner
      +cover
      +coverdiv
      +r(768)
        background-position: 19% 50%;
  &-add
    background-color: $text
    +rem(width,225px)
    +rem(padding,15px 22px 20px 20px)
    order: 2
    +r(991)
      display: none
    &-wrapper
      position: absolute
      +rem(right,-17px)
      +rem(bottom,46px)
      display: flex
      flex-flow: row nowrap
      align-items: stretch
      +r(991)
        left: 0 
        right: 0
        justify-content: center
        +rem(bottom,40px)
      .i-arrows
        background: $white
        order: 1
        +rem(padding,0 10px)
        +r(991)
          background: transparent
    .u-light
      line-height: 1.35
    .smalllight
      +rem(margin-top, 5px)   
.list
  li 
    +rem(padding-left,40px)
    position: relative
    display: block
    +rem(letter-spacing,0.4px)
    &:before
      content: ''
      display: inline-block
      +rem(width,22px)
      +rem(height,22px)
      position: absolute
      left: 0
      +rem(top,-3px)
      +rem(margin-right,15px)
      vertical-align: sub
      background-image: url(../img/icons/list.svg)
      +contain

.i-arrows
  +vertical
  .slider-counter,.slick-arrow
    display: inline-block
    vertical-align: middle
  &.white
    .starr
      stroke: $white
    .slider-counter
      color: $white
  .slider-counter
    font-size: 0
    +rem(padding,0 5px)
    +tr(color .15s)
    .slider-curr,.slider-divider,.slider-total
      display: inline-block
      vertical-align: top
      font-weight: 300

    .slider-curr
      +rem(font-size,35.5px)
      line-height: 0.5
    .slider-total
      +rem(font-size,16px)
    .slider-divider
      +rem(font-size,16px)
  .slick-arrow
    background: 0 0
    +rem(padding,10px)
    +rem(margin-top,8px)
    .icon
      display: inline-block
      +rem(width,7px)
      +rem(height,10px)
    .starr
      +tr(stroke .15s)
    
.icon-link
  font-weight: 100
  color: $text
  display: inline-block
  +rem(font-size,16px)
  cursor: pointer
  background: 0 0
  &>span
    position: relative
    transition: color .3s
    display: inline-block
    vertical-align: top
    &:after
      content: ''
      display: inline-block
      left: 0
      right: 0
      width: 100%
      +rem(height,1px)
      background: #cccccc
      +rem(bottom,-3px)
      position: absolute 
  &>i
    display: inline-block
    vertical-align: top
    position: relative
    +rem(width,16px)
    +rem(height,16px)
    +rem(margin-right,11px)
    &:after,&:before
      content: ''
      position: absolute
      display: inline-block
      background-size: contain
      background-repeat: no-repeat
      background-position: center
      +rem(width,16px)
      +rem(height,16px)
      +rem(top,1px)
      transition: opacity .3s
      left: 0
    &:before
      opacity: 0  
  &:hover
    i
      // color: $maind
      &:after
        opacity: 0 
      &:before
        opacity: 1 
  &.calc 
    i 
      &:after
        background-image: url(../img/icons/Calc.svg) 
  &.repeat
    font-weight: 700
    +rem(font-size,14px)
    color: $text
    text-transform: uppercase
    span
      &:after
        opacity: 0
    i 
      +rem(width,25px)
      +rem(height,25px)
      +rem(margin-right,15px)
      &:after,&:before
        +rem(width,25px)
        +rem(height,25px)
        +rem(top,-7px)
      &:after
        background-image: url(../img/icons/repeat.svg) 
        
    &:hover
      i 
        &:after
          opacity: 1        
      +rm(991)
        i 
          &:after
            +tr(transform .3s)
            transform: rotate(360deg)
.btn 
  font-family: cerablk
  text-transform: uppercase
  +rem(font-size,14px) 
  text-align: center
  +rem(padding,20px 33px)
  +rem(border-radius,27px)
  display: inline-block
  position: relative
  white-space: nowrap
  transition: background .3s, box-shadow .3s, color .3s
  &> .u-number
    font-weight: 700
  &.t-white
    color: $text
    background-color: $white
    box-shadow: 3px 5.196px 15px 0px rgba( 0, 0, 0, .1 );
  &.btn-go
    border: 2px solid $text
    +rem(padding,10px 32px 10px 17px)
    +rem(font-size,14px)
    color: $text
    +r(544)
      +rem(padding,10px 32px 8px 17px)
    &:before,&:after
      content: ''
      position: absolute
      +rem(width,8px)
      +rem(height,16px)
      +contain
      +tr(opacity .3s)
      +rem(right, 16px)
      +rem(top, 9px)
      +r(544)
        +rem(top, 7px)
    &:before
      background-image: url(../img/icons/arrow_forward.svg)
    &:after
      background-image: url(../img/icons/arrow_forwardw.svg) 
      opacity: 0     
    &:hover
      background: $text
      color: $white
      &:after
        opacity: 1
.color 
  &-wrapper
    +rem(padding-top,35px)
    display: flex
    flex-flow: row wrap
    align-items: stretch
    align-content: stretch
    justify-content: center
  &-block
    +rem(width,390px)
    position: relative
    +rem(height,340px)
    text-align: center
    +r(768)
      +rem(margin-bottom,15px)
    &:hover
      +rm(991)
        z-index: 1
        .color-block-bg
          transform: scale(1.05)
        .color-block-main
          background: $white !important
        .doptext
          opacity: 1
        .btn-go
          background: $text
          color: $white 
          &:after
            opacity: 1
    &.calc 
      .box-title
        display: inline-block
        
        +rem(max-width,300px)
        +rem(margin, 88px 0 30px)
    &-bg,&-main
      position: absolute
      +coverdiv
    &-bg
      +cover
      +tr(transform .3s)
      transform: scale(0.9)
    &-main
      +tr(background .3s)
      +rem(padding,50px 0 40px)
      .u-light
        color: $text
        span
          text-transform: uppercase
          font-weight: 400
        .u-number
          display: block
          font-weight: 300
      .doptext
        opacity: 0
        +tr(opacity .3s)
        color: #585858
        +rem(margin,15px auto 0)
        text-align: center
        span
          position: relative
          display: inline-block
          text-transform: none
          &:after
            content: ''
            position: absolute
            +rem(height,1px)
            left: 0
            right: 0
            width: 100%
            background: #585858
            +rem(bottom, -2px)
  &-text
    +rem(max-width,236px)
    +rem(height,75px) 
    +rem(margin, 22px auto)  
    line-height: 1.3 

.dropdown-trigger
  position: relative
  &:hover
    .dropdown-target
      transition-delay: 0.15s
      +rem(max-height,1000px)
      +rem(padding-top,15px)
      +rem(padding-bottom,15px)
.dropdown-target.active
  // overflow: visible
  transition-delay: 0.15s
  +rem(max-height,1000px)
  +rem(padding-bottom,15px)
.js-select-trigger.active,.js-select-item.active,.js-select-custom.active
  .dropdown-target
    transition-delay: 0.15s
    +rem(max-height,1000px)
    +rem(padding, 15px 15px 15px 15px) 
.dropdown-target
  position: absolute
  overflow: hidden
  z-index: 2
  +rem(margin,-15px)
  +padlr(15px)
  +rem(padding-top,15px)
  max-height: 0
  left: 0
  right: 0
  transition-property: max-height,padding-top,padding-bottom
  transition-timing-function: $tr
  transition-duration: .35s
  transition-delay: 0 ,.35s, .35s
  will-change: max-height, padding
  +gpu
  +clr
  .dropdown-inner
    +rem(margin-top,10px)
    +rem(margin-bottom,2px)
    float: right
    width: 100%
    +rem(padding,22px 10px 22px 20px)
    background: $white
    box-shadow: 2px 3.464px 20px 0px rgba( 0, 0, 0,0.17 );
.sort-select
  position: relative
  &.active
    .bread-arrow
      transform: scale(1, -1)
  .dropdown-content
    +rem(max-height,155px)
    overflow-y: auto
  &-title
    +rem(border-radius,35px)
    display: inline-block
    +rem(padding, 8px 20px 8px 20px)
    border: 1px solid $borderl
    cursor: pointer
    position: relative
    .name,.value
      +rem(font-size,14px)
      text-transform: uppercase
      color: $text
    .name
      font-weight: 400
    .value
      font-weight: 700
      +rem(letter-spacing,0.5px)
    .bread-arrow
      +rem(margin-left,19px)
      vertical-align: baseline
      
  &-item
    &.active
      a 
        font-weight: 700
        color: $lightgray
        &:after
          opacity: 1
    a
      color: $lightgray
      +rem(font-size,16px)
      position: relative
      +rem(padding-bottom,10px)
      +rem(margin-bottom,5px)
      display: inline-block
      &:after
        position: absolute
        content: ''
        +rem(width,20px)
        +rem(height,15px)
        +contain
        +tr(opacity .3s)
        opacity: 0
      span
        display: inline-block
        +rem(padding-right,5px)
      &:hover
        color: #000000
.bread-arrow
  display: inline-block
  +contain
  background-image: url(../img/icons/arrow_down.svg)
  background-position: top center
  +rem(width,13px)
  +rem(height,8px)
.menu-nav
  display: block
  +rem(max-width,1180px)
  margin: 0 auto
  +rem(padding, 0 10px)
  &-inner
    display: flex
    justify-content: space-between
    align-items: center
    position: relative
    +r(768)
      justify-content: center
     
      .m-nav-link
        position: absolute
        +rem(bottom,-25px)
        &.left
          +rem(left,10px)
        &.right
          +rem(right,10px)      
.m-nav-link
  +rem(font-size,14px)
  text-transform: uppercase
  font-weight: 700
  color: #000
  position: relative
  +tr(opacity .3s)
  opacity: 0.7
  cursor: pointer
  &.disabled
    opacity: .5
  &.left
    +rem(padding-left,20px)
    text-align: left
    &:after
      left: 0
      +rem(top,2px)
      transform: scale(-1,1)
  &.right
    +rem(padding-right,20px)
    text-align: right
    &:after
      right: 0
      +rem(top,2px)
  &:hover
    opacity: 1
  &:after
    content: ''
    position: absolute
    display: inline-block
    +contain
    +rem(height,11.5px)
    +rem(width,7px)
  &:after
    background-image: url(../img/icons/arrow_forwardb.svg)
.menu
  &-grid 
    +rem(padding,110px 0 0 0)
    +rem(max-width,1525px)
    margin: 0 auto
  &-item
    +rem(min-width,275px)
    position: relative
    &-wrap
      +rem(padding,12.5px)
      display: inline-block
      width: 20%
      +r(1500)
        width: 25%
      +r(1150)
        width: 33.333%
      +r(900)
        width: 50%
      +r(544)
        width: 100%
      +rm(1500)
        &:nth-of-type(2),&:nth-of-type(5),&:nth-of-type(7)
          margin-top: -5%
        &:nth-child(4),&:nth-child(9)
          margin-top: 5%
    &-bgu
      position: absolute
      +rem(bottom,20px)
      left: 0
      right: 0
      +rem(padding,0 15px)
      z-index: 1
      color: $white
  &-type
    &-wrap
      position: absolute
      top: 0
      left: 0
      right: 0
      +rem(padding, 15px)
      z-index: 1
    &-item
      color: $white
      display: inline-block
      background: $text
      +rem(border-radius,25px)
      +rem(padding,6px 15px 7px)
      +rem(font-size,12px)
      +rem(letter-spacing,0.4px)
      font-weight: 300

  &-img
    &-wrap
      +rem(height,300px)
      position: relative
      overflow: hidden
    &-img
      +coverdiv
      +cover
  &-text
    &-wrap
      background: $white
      +rem(padding, 25px 15px)
    &-name
      font-weight: 700
      +rem(font-size,16px)
    &-val 
      +rem(margin-top,5px)
      .u-number
        display: inline-block
        +rem(padding-right,5px)












