input[type='number']
  -moz-appearance: textfield;
input::-webkit-clear-button,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
  -webkit-appearance: none;
input
  box-shadow : none
button
  background: 0 0
a
  text-decoration: none
  transition: color .3s
  // &:hover
*
  -webkit-tap-highlight-color: transparent
  +placeholder 
    font-family: 'cerar'
    +rem(letter-spacing, 0.2px)
    font-size: 11px
  +rm(768)
    +scrollbar
      +rem(width,4px)
      // background: $graybg
    ::-webkit-scrollbar-thumb 
      +rem(width,6px)
      +rem(border-radius,3px)
      background: #888888
      cursor: pointer
textarea
  line-height: 1.5
  resize: none
ul
  li>a 
    display: inline-block
    width: 100%
html
  font-size: 16px
  line-height: 1
  +r(1366)
    font-size: 15px
  +r(1280)
    font-size: 14px
  +r(991)
    font-size: 16px
  +r(769)
    font-size: 15px
  +r(544)
    font-size: 14px

body
  background-color: #fff
  +box
  +font-smoothing
  text-rendering: optimizeLegibility
  & ::selection
    background-color: #eaf6ef
    color:#1e2521
  & ::-moz-selection
    background-color: #eaf6ef
    color:#1e2521
body
  font-family: 'cera'
  position: relative
body, .out,html
  width: 100%
  height: 100%
  +r(991)
    overflow: hidden
  &.modal_open
    overflow: hidden
.out
  // overflow-x: hidden
  position: relative
  -webkit-overflow-scrolling: touch;
  +r(991)
    overflow-y: scroll  
  +rm(768)
    // +scrollbar
    //   +rem(width,10px)
    // ::-webkit-scrollbar-thumb 
    //   +rem(width,10px)
    //   border-radius: 10px !important
    //   cursor: pointer

// main page layout
.page
  &__wrapper
    background-color: #fff
    display: flex
    flex-wrap: nowrap
    flex-direction: column
    height: 100%
  &__outer
    width: 100%
    display: block
    height: 100%
  &__header
    position: fixed
    +rem(height,100px)
    left: 0
    right: 0
    top: 0
    background: $white
    display: flex
    flex-wrap: nowrap
    justify-content: space-between
    align-items: center
    z-index: 20
    transition: height .3s, padding .3s,box-shadow .3s
    will-change: height, padding, box-shadow
    +rem(padding,32.5px 50px 30px 50px)
    &.is-hidden
      +rm(991)
        +rem(height,70px)
        +rem(padding-top,15px)
        +rem(padding-bottom,15px)
        box-shadow: 0px 0px 32px 0px rgba( 0, 0, 0,.2 );
        .header__navs--nav
          width: 0
          margin: 0
          opacity: 0
        .header__navs--phone
          +rem(margin-right,50px)
        .header__logo
          padding-left: 8%
        .header__navs--cart
          +rem(padding-top, 5px)
          +rem(padding-bottom, 10px)
          +rem(margin-top, -18px)
          +rem(margin-bottom, -18px)
    +r(1150)
      +rem(padding,32.5px 25px 30px 25px)
    +r(991)
      +rem(padding,15px 25px 15px 25px)
      +rem(height,60px)
  &__footer
    +cover
    position: relative
    flex: 0 0 auto
    &:before
      content: ''
      +coverdiv
      background-color: rgba(45,45,45, .9)
  &__content
    background: $white
    +rem(padding,100px 50px 103px 50px)
    flex: 1 0 auto
    +r(1150)
      +rem(padding,100px 25px 103px 25px)
    +r(991)
      +rem(padding,60px 25px 103px 25px)
    +r(544)
      +rem(padding,60px 15px 103px 15px)

//utility
//text-types
.u-light
  font-weight: 300
.u-reg
  font-weight: 400
.u-bold
  +rem(letter-spacing,0.2px)
  font-weight: 700
.u-title
  font-weight: 300
.describe-text
  +rem(font-size,16px)
  color: $white
  opacity: 0.3
  line-height: 1.3 
  font-weight: 300
.smalllight
  +rem(font-size,12px)
  color: #a0a0a0
  font-weight: 300
.box-title
  font-weight: 100
  +rem(font-size,42px)
  text-align: center
  +rem(margin,0 auto 20px )
  +rem(letter-spacing,-1px)
  +r(544)
    +rem(font-size,34px)
.box-title-small
  font-weight: 100
  +rem(font-size,20px)
  text-align: center
  +rem(margin,0 auto 35px)
  line-height: 1.4

.u-number
  font-family: 'Fira Sans', sans-serif;
  +rem(letter-spacing,0.3px)
//size types

.text1
  +rem(font-size,20px)
  line-height: 1.4
  font-weight: 300
  color: $halfgray
.text2
  +rem(font-size,16px)
  color: $text
  font-weight: 300
  line-height: 1.438
.title
  font-weight: 300
.h-title
  font-family: cera
  font-weight: 100
  line-height: 1
.gray
  background-color: $gray
//color types
.u-halfgray
  color: $halfgray
.u-halfblack
  color: $text
.u-black
  color: $text2
.u-white
  color: $white
.link-tel
  color: $text
  span
    text-transform: uppercase
.s-text
  +rem(font-size,16px)
.s-medium
  +rem(font-size,14px)
.s-small
  +rem(font-size,12px)
.h1
  +rem(font-size,56px)
.h2
  +rem(font-size,42px)
.h3
  +rem(font-size,24px)
.h4
  font-weight: 700
  +rem(font-size,16px)
.h5
  font-weight: 700
  text-transform: uppercase
  +rem(font-size,14px)

.header
  &__hamburger
    position: relative
    vertical-align: top
    display: inline-block
    +rem(padding-top,20px)
    margin-right: 10.5%
  &__logo
    padding-left: 11.8%
    position: relative
    +rem(margin-top,-55px)
    +tr(padding .3s)
    +r(991)
      margin: auto
      padding-left: 12.8%
    +r(768)
      padding-left: 18.8%
      transform: translateX(8%)
    .logo-outer
      position: absolute
      left: 0
      right: 0
      top: 0
      .logo-middle
        position: relative
        padding-bottom: 85.5%
        &:before
          content: ''
          position: absolute
          +vcenter
          border-radius: 50%
          background: $white
          width: 70%
          height: 80%
        .logo-inner
          position: absolute
          left: 0
          right: 0
          bottom: 0
          top: 0
          z-index: 21
          background-image: url(../img/icons/logo.svg)
          +contain 
  &__navs
    width: 80%
    display: flex
    flex-flow: row wrap;
    justify-content: flex-end
    +r(991)
      width: auto
    &--phone,&--nav,&--cart
      display: inline-block
    &--phone
      display: flex
      align-items: center
      +tr(margin .3s)
      .link-tel 
        vertical-align: bottom
      +r(991)
        display: none
    &--cart
      +rem(margin,-42px -50px -19px 0)
      +rem(padding,42px 50px 25px 40px)
      height: 100%  
      transition: margin .3s, padding .3s
      will-change: margin, padding
      +r(991)
        +rem(margin,-25px -25px -17px 0)
        +rem(padding,25px 25px 17px 25px)
      &.active
        background: $text
        .u-reg
          color: $halfwhite
        .u-light,.u-number
          color: $white
          &+ .u-number
            color: #8a8a8a !important
        .stcart1,.stcart
          stroke: $white
    &--nav
      display: flex
      align-items: center
      margin: 0 3% 0 5.5%
      opacity: 1
      overflow: hidden
      transition: width .3s, margin .3s, opacity .15s
      will-change: width, margin, opacity
      +r(991)
        display: none
    .nav-link
      font-weight: 300
      color: $halfgray
      +rem(font-size,16px) 
      +rem(margin-top,2px) 
      +padlr(14px) 
    &--login
      text-align: right
      transform: translateY(-5px)
      +r(991)
        display: none

    .cart
      &-icon,.u-light
        display: inline-block
        vertical-align: top
      .u-light
        +rem(margin-left,20px)
        +rem(margin-top,5px)
        +r(991)
          display: none
        &+ .u-number
          text-align: right
          +rem(letter-spacing,0.4px)
          +rem(margin-top,3px)
          color: transparent
          +r(991)
            +hidetext
      &-icon
        +rem(width,34px)
        +rem(height,27px)
        position: relative
        +rem(margin-top,-3px)
        .u-number
          position: absolute
          +rem(bottom,2px)
          left: 0
          right: 0
          text-align: center

.hamburger
  +rem(width, 42px)
  +rem(height, 20px)
  position: absolute
  // +rem(left, 25px)
  // +rem(top, 30px)
  left: 0
  top: 0
  &-inner 
    width: 100%
    height: 100%
    +rem(padding, 15px 10px)
    cursor: pointer
    position: relative
    text-align: center
    div 
      display: block
      position: relative
      +rem(width, 30px)
      +rem(height, 22px)
    span 
      height: 3px
      width: 100%
      display: block
      background-color: #000
      position: absolute
      opacity: 1
      left: 0
      transform: rotate(0deg)
      transition: 0.2s ease-in-out
      &:nth-child(1) 
        top: 0
      &:nth-child(2)
        +rem(top, 10px)
      &:nth-child(3)
        +rem(top, 20px)
    &.open 
      span 
        &:nth-child(1) 
          transform: rotate(135deg)
          +rem(top, 9px)
        &:nth-child(2)
          opacity: 0
          left: -60px
          +rem(left, -60px)
        &:nth-child(3)
          transform: rotate(-135deg)
          +rem(top, 9px) 

//footer block

.footer
  &__main
    display: block
    margin: 0 auto
    +rem(width,1220px)
    max-width: 100%
    +rem(padding,90px 10px 85px)
    position: relative
    z-index: 1
    +r(544)
      +rem(padding,40px 10px 50px)
    &-content 
      display: flex
      flex-flow: row nowrap
      justify-content: space-between
      +rem(padding,0 20px)
      +rem(margin,0 -10px)
      +r(768)
        flex-wrap: wrap
  &-content-block
    +rem(max-width,723px)
    display: flex
    flex-wrap: nowrap
    +r(991)
      order: 2
      width: 50% 
      flex-wrap: wrap
    +r(768)
      width: 100%
      +rem(padding-top,25px)
  &-contact
    &-block
      +rem(max-width,376px)
      +rem(margin-top,-3px)
      +r(991)
        order: 1
        width: 50%
        max-width: 100%
        +rem(padding-right,20px)
      +r(768)
        width: 100%
      +r(480)
        +rem(padding-right,0px)
    &-svyaz
      +rem(margin-bottom,38px)
      .u-number
        font-weight: 300
        +rem(margin,12px 0 11px)
        display: block
        +r(375)
          +rem(font-size,32px)
    &-mail
      .footer-form
        display: flex
        flex-flow: row nowrap
        justify-content: space-between
        align-content: flex-start
        +rem(border-radius,17px)
        +rem(height,35px)
        border: 1px solid $white
        +rem(margin-top,21px)
        // +rem(margin-right,-21px)
        &-input
          background: 0 0
          color: $white
          +rem(padding,0 17px)
          +r(480)
            width: 50%
        &-submit
          background: 0 0
          +rem(padding,0 17px)
          border-left: 1px solid $white
          +rem(width,140px)
          text-transform: uppercase
          +rem(font-size,14px)

  &-mailto
    .u-light
      display: inline-block
    .dot-divider
      +rem(padding,0 10px)
  &-nav
    &-block
      +rem(margin-top,-3px)
      +r(768)
        +rem(margin-top,25px)
        display: flex
        flex-flow: row nowrap
        width: 100%
      +r(480)
        flex-wrap: wrap
      ul
        +rem(margin-bottom,23px)
        +r(768)
          width: 50%
          +rem(margin-top,-23px)
        li 
          +r(768)
            +rem(padding,10px 0)
      .u-bold
        text-transform: uppercase
        +rem(padding-bottom,8px)
        +rem(margin-bottom,13px)
        +rem(font-size,14px)
    &-payment
      display: flex
      flex-wrap: wrap
      +rem(max-width,420px)
      +r(768)
        width: 50%
        max-width: 100%
        align-items: center
        align-content: flex-start
      // +r(480)
      //   width: 100%
      //   justify-content: center
      .payment-item
        +rem(min-width,80px)
        +rem(height,45px)
        +rem(margin-right,0px)
        +rem(padding-bottom,20px)
        position: relative
        +r(768)
           +rem(min-width,50px)
        &:hover
          +rm(991)
            img:first-child
              opacity: 0
            img:last-child
              opacity: 1
        &:nth-child(n+4)
          +rem(width,50px)
          min-width: 0
        img
          display: block
          +rem(max-width,70px)
          +rem(max-height,25px)
          margin: 0 auto
          position: absolute
          top: 0
          left: 0
          +tr(opacity .3s)
          &:last-child
            opacity: 0
            z-index: 1
  &-list
    width: 36% 
    +r(991)
      width: 50%
    .u-bold
      +rem(margin-bottom,20px)
      text-transform: uppercase
      +rem(font-size,14px)
    li
      +rem(padding,5px 0)
      +rem(margin-bottom,15px)
      line-height: 1.07
  &__footer
    background: #000
    position: relative
    z-index: 1
    .content-wrapp
      display: flex
      flex-flow: row wrap
      justify-content: space-between
      align-content: center
      +rem(padding,30px 0 35px)
      .copyright
        +r(544)
          width: 100%
          +rem(margin-bottom,20px)
      
    .developer
      &:hover
        .flex
          fill: red
          stroke: red
        .u-bold
          color: red
      .dev
        &-icon,&-text
          display: inline-block
          vertical-align: top
        &-icon
          +rem(margin-top,-1px)
          +rem(margin-right,17px)
          svg
            display: inline-block
            +rem(width,33px)
            +rem(height,34px)
          .flex
            +tr(fill .3s)
      .u-bold
        +tr(color .3s)
      .u-bold,.smalllight
        +r(544)
          +hidetext  
.social
  display: flex
  flex-flow: row nowrap
  +rem(margin-left,60px)
  +r(991)
    margin: 0
  +r(544)
    align-self: flex-start
  .soc-icon
    &-wrapp
      +rem(width,52px)
      +rem(height,30px)
      +rem(padding,0 11px)
      &:not(.insta)
        svg
          border-radius: 100%
      +r(544)
        &:first-child
          padding-left: 0
          +rem(width,41px)
      &:hover
        .soc-icon-item
          &:after
            +scale(1.07)
        .stsoc1
          fill: $white
      &.insta
        .soc-icon-item
          +vertical
          &:after
            background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
        svg
          +rem(width,17px)
          +rem(height,17px)
          vertical-align: middle 
      &.vk
        .soc-icon-item
          &:after
            background: radial-gradient(circle at 33% 100%,#507299 4%,#507299 30%,#507299 62%,#8fa7c1 85%,#b8d4f5);
      &.fb
        .soc-icon-item
          &:after
            background: radial-gradient(circle at 33% 100%,#3b5998 4%,#3b5998 30%,#3b5998 62%,#9b36b7 85%,#3b5998);
    &-item
      display: inline-block
      width: 100%
      height: 100%
      border-radius: 50%
      background: $white
      position: relative
      overflow: hidden
      svg
        display: inline-block
        width: 100%
        height: 100%
        position: relative
        z-index: 2
      .stsoc
        fill: transparent
      .stsoc1
        position: relative
        z-index: 2
        +tr(fill .3s)
      &:after
        content: ''
        position: absolute
        left: 0
        top: 0
        bottom: 0 
        right: 0  
        width: 100%
        height: 100%
        border-radius: 50%
        +tr(transform .3s)
        +scale(0)
        transform-origin: 50%
        z-index: 1            
.box-standart
  display: block
  margin: 0 auto
  +rem(max-width,1220px)
  width: 100%
  +rem(padding, 0 20px)
  position: relative
.box-section
  +rem(padding, 80px 20px)
  +r(991)
    +rem(padding, 30px 0)
  &>.repeat
    +rem(margin,20px auto)
    display: block
    +rem(width,180px)
    +rm(991)
      position: absolute
      +rem(left,25px)
      top: 8%
.box-full
  &.gray 
    +rem(margin,0 -45px)
    +r(1150)
      +rem(margin,0 -25px)
  &.box-section
    +rem(padding, 80px 20px)
    +r(991)
      +rem(padding, 30px 0)
  .box-title
    +rem(margin-bottom,20px)
    +rem(letter-spacing,-1px)
    +r(544)
      +rem(padding,0 20px)
  .box-title-small
    +rem(margin-bottom,35px)
    line-height: 1.4
    +r(544)
      +rem(padding,0 20px)
    
.box-title  
  +rem(max-width,755px) 
  &.left
    text-align: left
    display: flex
    min-width: 100%
.box-title-small
  +rem(max-width,663px) 
.scroll-to-top
  +rem(width,50px)
  +rem(height,50px)
  border-radius: 50%
  border: 1px solid #777777
  position: fixed
  z-index: 2
  +rem(right, 50px)
  +rem(bottom, 40px)
  transform: translateY(100px)
  +tr(transform .3s)
  +r(544)
    +rem(width,40px)
    +rem(height,40px)
    +rem(right, 25px)
  &:hover
    &:before
      background: #e6e6e6
  &.visible
    transform: translateY(0)
  &:before
    +rem(width,40px)
    +rem(height,40px)
    +rem(margin-top,4px)
    +rem(margin-left,4px)
    background: $white
    border-radius: 50%
    content: ''
    display: inline-block
    +tr(background .3s)
    +r(544)
      +rem(width,30px)
      +rem(height,30px)
.index
  &-slider
    &-wrapper
      position: relative
      +r(991)
        +rem(margin-left,-25px)
        +rem(margin-right,-25px)
  &-slide
    position: relative
    padding-bottom: 5.6%
    &.white
      .title,.list
        color: $white
    +r(1600)
      padding-bottom: 5.4%
    +r(991)
      padding-bottom: 7.5%
    +r(768)
      padding-bottom: 10.5%
    +r(544)
      padding-bottom: 17.5%
    &-text
      position: absolute
      left: 12.9%
      top: 25%
      +rem(max-width,515px)
      width: 38%
      +r(1460)
        top: 15%
        width: 38%
        left: 10.9%
      +r(991)
        left: 4.9%
        top: 15%
        width: 60%
      +r(768)
        width: 100%
        text-align: center
        min-width: 100%
        left: 0
        right: 0
        +rem(padding,20px)
      +r(544)
        width: 95%
      .title
        margin-bottom: 11%
        +r(1150)
          +rem(font-size,45px)
        +r(768)
          +rem(font-size,35px)
          margin-bottom: 5%
      .btn 
        margin-top: 7%
        +r(768)
          +rem(padding,15px 20px 12px)
      .list
        +rem(max-width,285px)
        +r(768)
          margin: 0 auto
          +rem(max-width,295px)
        li 
          +rem(padding-bottom,17px)
          line-height: 1.3 
          text-align: left

    &-inner
      +cover
      +coverdiv
  &-add
    background-color: $text
    +rem(width,225px)
    +rem(padding,15px 22px 20px 20px)
    order: 2
    +r(991)
      display: none
    &-wrapper
      position: absolute
      +rem(right,-17px)
      +rem(bottom,46px)
      display: flex
      flex-flow: row nowrap
      align-items: stretch
      +r(991)
        left: 0 
        right: 0
        justify-content: center
        +rem(bottom,40px)
      .i-arrows
        background: $white
        order: 1
        +rem(padding,0 10px)
        +r(991)
          background: transparent
    .u-light
      line-height: 1.35
    .smalllight
      +rem(margin-top, 5px)   
.list,.side-content ul
  li 
    +rem(padding-left,40px)
    position: relative
    display: block
    +rem(letter-spacing,0.4px)
    +rem(font-size,16px)
    color: $text
    &:before
      content: ''
      display: inline-block
      +rem(width,22px)
      +rem(height,22px)
      position: absolute
      left: 0
      +rem(top,-3px)
      +rem(margin-right,15px)
      vertical-align: sub
      background-image: url(../img/icons/list.svg)
      +contain

.i-arrows
  +vertical
  .slider-counter,.slick-arrow
    display: inline-block
    vertical-align: middle
  &.white
    .starr
      stroke: $white
    .slider-counter
      color: $white
  .slider-counter
    font-size: 0
    +rem(padding,0 5px)
    +tr(color .15s)
    .slider-curr,.slider-divider,.slider-total
      display: inline-block
      vertical-align: top
      font-weight: 300

    .slider-curr
      +rem(font-size,35.5px)
      line-height: 0.5
    .slider-total
      +rem(font-size,16px)
    .slider-divider
      +rem(font-size,16px)
  .slick-arrow
    background: 0 0
    +rem(padding,10px)
    +rem(margin-top,8px)
    .icon
      display: inline-block
      +rem(width,7px)
      +rem(height,10px)
    .starr
      +tr(stroke .15s)
    
.icon-link
  font-weight: 100
  color: $text
  display: inline-block
  +rem(font-size,16px)
  cursor: pointer
  background: 0 0
  &>span
    position: relative
    transition: color .3s
    display: inline-block
    vertical-align: top
    &:after
      content: ''
      display: inline-block
      right: auto
      left: 0
      width: 100%
      +rem(height,1px)
      background: #cccccc
      +rem(bottom,-5px)
      position: absolute 
      +tr(all .3s)
  &>i
    display: inline-block
    vertical-align: top
    position: relative
    +rem(width,16px)
    +rem(height,16px)
    +rem(margin-right,11px)
    &:after,&:before
      content: ''
      position: absolute
      display: inline-block
      background-size: contain
      background-repeat: no-repeat
      background-position: center
      +rem(width,16px)
      +rem(height,16px)
      +rem(top,1px)
      transition: opacity .3s
      left: 0 
  &:hover
    i
      &:after
        opacity: 1  
    span
      &:after
        right: 0
        width: 0

  &.calc 
    i 
      &:after
        background-image: url(../img/icons/Calc.svg) 
  &.repeat
    font-weight: 700
    +rem(font-size,14px)
    color: $text
    text-transform: uppercase
    span
      &:after
        opacity: 0
    i 
      +rem(width,25px)
      +rem(height,25px)
      +rem(margin-right,15px)
      &:after,&:before
        +rem(width,25px)
        +rem(height,25px)
        +rem(top,-7px)
      &:after
        background-image: url(../img/icons/repeat.svg) 
        
    &:hover
      i 
        &:after
          opacity: 1        
      +rm(991)
        i 
          &:after
            +tr(transform .3s)
            transform: rotate(360deg)
.btn 
  font-family: cerablk
  text-transform: uppercase
  +rem(font-size,14px) 
  text-align: center
  +rem(padding,20px 33px)
  +rem(border-radius,27px)
  display: inline-block
  position: relative
  white-space: nowrap
  transition: background .3s, box-shadow .3s, color .3s
  &> .u-number
    font-weight: 700
  &.t-white
    color: $text
    background-color: $white
    box-shadow: 3px 5.196px 15px 0px rgba( 0, 0, 0, .1 );
    &:hover
      background-color: #000
      color: $white
  &.btn-go
    border: 2px solid $text
    +rem(padding,9px 32px 9px 17px)
    +rem(font-size,14px)
    color: $text
    &:not(.no-arr)
      +r(544)
        +rem(padding,9px 32px 7px 17px)
    &:before,&:after
      content: ''
      position: absolute
      +rem(width,8px)
      +rem(height,16px)
      +contain
      +tr(opacity .3s)
      +rem(right, 16px)
      +rem(top, 8px)
      +r(544)
        +rem(top, 7px)
    &:before
      background-image: url(../img/icons/arrow_forward.svg)
    &:after
      background-image: url(../img/icons/arrow_forwardw.svg) 
      opacity: 0     
    &:hover
      background: $text
      color: $white
      &:after
        opacity: 1
    &.no-arr
      +rem(padding,8px 25px)
      &:before,&:after
        display: none
  &.btn-black
    background: #000
    color: $white
    +rem(padding,12px 40px 12px 40px)
    opacity: .8
    +tr(opacity .3s)
    +rem(letter-spacing,0.8px)
    &:hover
      opacity: 1
.color
  &-wrapper
    +rem(padding-top,35px)
    display: flex
    flex-flow: row wrap
    align-items: stretch
    align-content: stretch
    justify-content: center
  &-block
    +rem(width,390px)
    position: relative
    +rem(height,390px)
    text-align: center
    &.disabled
      opacity: 0.5
      pointer-events: none
    &.inner
      +rem(max-height,270px)
      .result-price
        +rem(margin,35px 0)
        span:not([class])
          +rem(font-size,14px)
      .color-block-main
        width: 100%
        background: #f4f4f4
      &:hover
        .color-block-main
          background: #f4f4f4 !important
      &+ .menu-nav
        +rem(margin-top,40px)
    +r(768)
      +rem(margin-bottom,15px)
    &-icon
      display: block
      +rem(margin, 22px auto 0)
      text-align: center
      i 
        display: inline-block
        +contain
        +rem(width,20px)
        +rem(height,20px)

    &:hover
      +rm(991)
        z-index: 1
        .color-block-bg
          transform: scale(1.05)
        .color-block-main
          background: $white !important
        .doptext
          opacity: 1
        .btn-go
          background: $text
          color: $white 
          &:after
            opacity: 1
    &.calc 
      .box-title
        display: inline-block
        +rem(max-width,300px)
        +rem(margin, 88px 0 30px)
    &-bg,&-main
      position: absolute
      +coverdiv
    &-bg
      +cover
      +tr(transform .3s)
      transform: scale(0.9)
    &-main
      +tr(background .3s)
      +rem(padding,50px 0 40px)
      .u-light
        color: $text
        span
          text-transform: uppercase
          font-weight: 400
        .u-number
          display: block
          font-weight: 300
      .doptext
        opacity: 0
        +tr(opacity .3s)
        color: #585858
        +rem(margin,15px auto 0)
        text-align: center
        span
          position: relative
          display: inline-block
          text-transform: none
          &:after
            content: ''
            position: absolute
            +rem(height,1px)
            left: 0
            right: 0
            width: 100%
            background: #585858
            +rem(bottom, -2px)
  &-text
    +rem(max-width,236px)
    +rem(height,75px) 
    +rem(margin, 17px auto 38px)  
    line-height: 1.3 

.dropdown-trigger
  position: relative
  &:hover
    .dropdown-target
      transition-delay: 0.15s
      +rem(max-height,1000px)
      +rem(padding-top,15px)
      +rem(padding-bottom,15px)
.dropdown-target.active
  // overflow: visible
  transition-delay: 0.15s
  +rem(max-height,1000px)
  +rem(padding-bottom,15px)
.js-select-trigger.active,.js-select-item.active,.js-select-custom.active
  .dropdown-target
    transition-delay: 0.15s
    +rem(max-height,1000px)
    +rem(padding, 15px 15px 15px 15px) 
.dropdown-target
  position: absolute
  overflow: hidden
  z-index: 5
  +rem(margin,-15px)
  +padlr(15px)
  +rem(padding-top,15px)
  max-height: 0
  left: 0
  right: 0
  transition-property: max-height,padding-top,padding-bottom
  transition-timing-function: $tr
  transition-duration: .35s
  transition-delay: 0 ,.35s, .35s
  will-change: max-height, padding
  +gpu
  +clr
  .dropdown-inner
    +rem(margin-top,10px)
    +rem(margin-bottom,2px)
    float: right
    width: 100%
    +rem(padding,22px 10px 22px 20px)
    background: $white
    box-shadow: 2px 3.464px 15px 0px rgba( 0, 0, 0,0.17 );
.sort-select
  position: relative
  &.active
    .bread-arrow
      transform: scale(1, -1)
  .dropdown-content
    +rem(max-height,155px)
    overflow-y: auto
  &-title
    +rem(border-radius,35px)
    display: inline-block
    +rem(padding, 8px 20px 8px 20px)
    border: 1px solid $borderl
    cursor: pointer
    position: relative
    .name,.value
      +rem(font-size,14px)
      text-transform: uppercase
      color: $text
    .name
      font-weight: 400
    .value
      font-weight: 700
      +rem(letter-spacing,0.5px)
    .bread-arrow
      +rem(margin-left,19px)
      vertical-align: baseline
      
  &-item
    &.active
      a 
        font-weight: 700
        color: $lightgray
        &:after
          opacity: .5
    a
      color: $lightgray
      +rem(font-size,16px)
      position: relative
      +rem(padding-bottom,10px)
      +rem(margin-bottom,5px)
      display: inline-block
      width: 100%
      &:after
        position: absolute
        content: ''
        +rem(width,20px)
        +rem(height,15px)
        +contain
        +tr(opacity .3s)
        opacity: 0
        background-image: url(../img/icons/checkbox.svg)
        +rem(right,10px)
        
      span
        display: inline-block
        +rem(padding-right,5px)
      &:hover
        color: #000000
.bread-arrow
  display: inline-block
  +contain
  background-image: url(../img/icons/arrow_down.svg)
  background-position: top center
  +rem(width,13px)
  +rem(height,8px)
.menu-nav
  display: block
  +rem(max-width,1180px)
  margin: 0 auto
  +rem(padding, 0 10px)
  &-inner
    display: flex
    justify-content: space-between
    align-items: center
    position: relative
    +r(768)
      justify-content: center
     
      .m-nav-link
        position: absolute
        +rem(bottom,-25px)
        &.left
          +rem(left,10px)
        &.right
          +rem(right,10px)      
.m-nav-link
  +rem(font-size,14px)
  text-transform: uppercase
  font-weight: 700
  color: #000
  position: relative
  +tr(opacity .3s)
  opacity: 0.7
  cursor: pointer
  &.disabled
    opacity: .5
  &.left
    +rem(padding-left,20px)
    text-align: left
    &:after
      left: 0
      +rem(top,1.5px)
      transform: scale(-1,1)
  &.right
    +rem(padding-right,20px)
    text-align: right
    &:after
      right: 0
      +rem(top,1.5px)
  &:hover
    opacity: 1
  &:after
    content: ''
    position: absolute
    display: inline-block
    +contain
    +rem(height,11.5px)
    +rem(width,7px)
  &:after
    background-image: url(../img/icons/arrow_forwardb.svg)
.menu
  &-grid 
    +rem(padding,110px 0 0 0)
    +rem(max-width,1525px)
    margin: 0 auto
    font-size: 0
    +r(544)
      +rem(padding-top,35px)
    & + .i-arrows
      +rm(544)
        display: none
      & + .box-standart
        +rem(margin-top,35px)
        +r(544)
          text-align: center
          +rem(margin-top,15px)
    &.main-grid
      .menu-item-wrap
        width: 20%
        +r(1500)
          width: 25%
        +r(1150)
          width: 33.333%
        +r(900)
          width: 50%
        +r(544)
          width: 100%
          +rem(padding,15px)
        +rm(1500)
          &:nth-of-type(2),&:nth-of-type(5),&:nth-of-type(7)
            transform: translate3d(0,-20%,0)
          &:nth-child(4),&:nth-child(9)
            transform: translate3d(0,17%,0)
        +screen(1150px,1499px)
          &:nth-child(even)
            transform: translate3d(0,-20%,0)
        +screen(900px,1149px)
          &:nth-child(3n-1)
            transform: translate3d(0,-20%,0)
        +screen(544px,899px)
          &:nth-child(2n)
            transform: translate3d(0,-15%,0)
  &-item
    +rem(min-width,275px)
    position: relative
    &:hover
      +rm(991)
        .menu-item-bgu
          transform: translateY(0)
        .menu-img-img
          &:after
            opacity: 1

    &-wrap
      +rem(padding,12.5px)
      display: inline-block
      vertical-align: top
      &.total
        text-align: center
        +rem(padding,55px 15px )
        .menu-text-name
          +rem(margin-bottom,25px)
    &-bgu
      position: absolute
      +rem(bottom,20px)
      left: 0
      right: 0
      +rem(padding,0 15px)
      z-index: 1
      color: $white
      +rem(font-size,14px)
      +rm(991)
        transform: translateY(260%)
        +tr(transform .3s $tr)
  &-type
    &-wrap
      position: absolute
      top: 0
      left: 0
      right: 0
      +rem(padding, 15px)
      z-index: 2
    &-item
      color: $white
      display: inline-block
      background: $text
      +rem(border-radius,25px)
      +rem(padding,6px 15px 7px)
      +rem(font-size,12px)
      +rem(letter-spacing,0.4px)
      font-weight: 300
      +r(544)
        +rem(padding,7px 15px 4px)
  &-img
    &-wrap
      +rem(height,300px)
      position: relative
      overflow: hidden
    &-img
      +coverdiv
      +cover
      &:after
        content: ''
        +coverdiv
        background: rgba(0,0,0,0.3)
        opacity: 0
        z-index: 1
        +tr(opacity .3s)
  &-text
    &-wrap
      background: $white
      +rem(padding, 25px 15px)
    &-name
      font-weight: 700
      +rem(font-size,16px)
    &-val 
      +rem(margin-top,5px)
      +rem(font-size,14px)
      color: $halfgray 
      .u-number
        display: inline-block
        +rem(padding-right,5px)
        

.step
  &-wrapper
    counter-reset: num
    +rm(991)
      +rem(padding-top,65px)
  &-row
    display: flex
    flex-flow: row wrap 
    align-items: stretch
    counter-increment: num
    &:not(:last-child)
      +rem(margin-bottom,20px)
    +rm(768)
      &:nth-child(even)
        .step-content
          order: 1
        .step-img
          order: 2
  &-img
    +cover
    width: 49%
    +r(768)
      padding-bottom: 40%
      width: 100%
    +r(544)
      padding-bottom: 60%
  &-content 
    +rem(padding,35px 60px 110px 60px)
    text-align: center
    width: 51%
    +r(991)
      +rem(padding,25px 30px 50px 30px)
    +r(768)
      width: 100%
    +r(544)
      +rem(padding,15px 10px 20px 10px)
    .circle-elem
      +rem(margin-bottom,35px)
    .h-title
      +rem(margin-bottom,20px)
    .text2
      +rem(margin-bottom,20px)
      +rem(max-width,405px)
      display: inline-block
    .icon-link
      display: block
      margin: 0 auto
      color: $text
      
.circle-elem
  +rem(width,70px)
  +rem(height,70px)
  border-radius: 50%
  border: 2px solid #dedede
  font-weight: 300
  color: $text
  +rem(font-size,36px)
  text-align: center
  +rem(line-height,70px)
  display: inline-block
  &:before
    content: counter(num)
    display: inline-block
    
.props
  +rem(margin,15px 0)
  +rem(font-size,16px)
  font-weight: 300
  &-item
    +rem(padding-bottom,5px)
    span
      +rem(padding-left,5px)
.title-wrapper
  position: relative
  z-index: 1
.box-bg
  +cover
  +rem(padding,65px 15px)
  background-position-y: 0%
  position: relative
  &:after
    content: ''
    +coverdiv
    z-index: 0
    background-color: rgba(0,0,0,.4)
.box-review
  +r(991)
    +rem(margin,0 -30px)
  .box-bg
    +rem(height,440px)
  &+ .box-standart
    +rem(padding-top,60px)
  &-content
    position: relative
    z-index: 2
    display: block
    +rem(max-width,875px)
    +rem(margin,-215px auto 0)
    .i-arrows
      position: absolute
      +rem(right,-10px)
      top: 0
      z-index: 2
      +r(991)
        +rem(right,10px) 
.review
  &-slider
    width: 100%
    +r(991)
      +rem(padding, 0 25px)
  &-item
    +rem(padding-top,55px)
    &.slick-current
      .review-who-img
        transform: scale(1)
      .star-item
        opacity: 1
        &:nth-child(1)
          transition-delay: .2s
        &:nth-child(2)
          transition-delay: .25s
        &:nth-child(3)
          transition-delay: .30s
        &:nth-child(4)
          transition-delay: .35s
        &:nth-child(5)
          transition-delay: .40s
  &-content
    display: flex
    flex-flow: row nowrap
    align-items: flex-start
    align-items: stretch
    +r(768)
      flex-flow: row wrap

  &-who
    +rem(width,300px)
    text-align: center
    +rem(padding,0 15px)
    +r(768)
      width: 100% 
      text-align: left
      +rem(padding,30px 25px)
      display: flex
      flex-flow: row wrap

    &-img
      display: inline-block
      +rem(width,50px)
      +rem(height,50px)
      border-radius: 50%
      overflow: hidden
      transform: scale(0)
      +tr(transform .35s $tr)
      +rm(768)
        +rem(margin-top,-55px)
        +rem(width,110px)
        +rem(height,110px)

      img
        display: block
        max-width: 100%
        max-height: 100%
        margin: 0 auto
        transform: none
    .h-title
      +rem(margin,25px 0 18px)
      +r(768)
        +rem(margin,0 0 0 20px)
        width: 50% 
        white-space: nowrap
    .stsoc1
      fill: #fff
    .social
      +rem(max-width,200px)
      margin: 0 auto
      display: flex
      justify-content: center
      +r(768)
        display: inline-block 
        +rem(margin,-20px 0 0 65px)
        width: 50% 
    .soc
      &-icon-item
        background: #000
      &-icon-wrapp
        +rem(width,35px)
        +rem(height,21px)
        +rem(padding,0 7px)
        +r(768)
          display: inline-block
          vertical-align: top
        &:first-child
          +r(544)
            +rem(width,35px)
            +rem(padding,0 7px)
        &.insta svg
          +rem(width,11px)
          +rem(height,11px)
  &-text
    +rem(padding,32px 70px 50px 5px)
    +rem(width,600px)
    position: relative
    +r(768)
      +rem(padding,0 13px 20px)
      width: 100% 
    .star-wrapper
      position: absolute
      +rem(top,-44px)
      +r(768)
        +rem(top,-150px)
    .star-item
      opacity: 0
      +tr(opacity .15s $tr)
  &-title
    +rem(font-size,24px)
    font-weight: 700
    color: $text
    +rem(margin-bottom,24px)
  &-date
    +rem(margin-top,25px)
.star
  &-wrapper
    white-space: nowrap
  &-item
    display: inline-block
    +rem(width,25px)
    +rem(height,23px)
    +contain
    background-image: url(../img/icons/star-gray.svg)
    &:not(:first-child)
      +rem(margin-left,3px)
    &.active
      background-image: url(../img/icons/star-yellow.svg)
.news
  &-wrap
    +rem(margin-right,-20px)
    font-size:  0
    +rm(991)
      +rem(padding-top,35px)
  &-item
    &-wrap
      padding-bottom: 33%
      +rem(padding-right,20px)
      width: 33%  
      position: relative
      display: inline-block
      vertical-align: top
      +r(768)
        width: 50%  
        +rem(margin-bottom,20px)
        padding-bottom: 40%
      +r(544)
         width: 100%  
         padding-bottom: 70% 
      &:hover
        +rm(768)
          .news-item-bg
            &:after
              background: rgba(0,0,0,.6)
    &-bg 
      +coverdiv
      +cover
      z-index: 0
      max-width: 95%  
      &:after
        content: ''
        +coverdiv
        background: rgba(0,0,0,.3)
        +tr(background .3s)
        z-index: 1
    &-content 
      max-width: 95%  
      +coverdiv
      z-index: 2
      &-inner
        position: relative
        width: 100% 
        height: 100%  
      &-text
        position: absolute
        bottom: 0 
        left: 0 
        right: 0  
        +rem(padding,0 35px 44px)    
        .h-title
          +rem(max-width,245px)
          line-height:  1.35
          +rem(margin-bottom,14px)
     
.instagram
  &-wrapper
    font-size: 0  
    position: relative
    overflow: hidden
    white-space: nowrap
    +rm(544)
      +rem(padding, 70px 0)
    +rm(991)
      +rem(margin,0 -25px)
    .slick-list
      +rm(544)
        +rem(padding, 100px 0)
        +rem(margin-top,-40px)
        +rem(margin-bottom,-40px)
        overflow-y: visible
    &+ .arrow-wrapper
      +rm(544)
        display: none

  &-column
    +rem(width,294px)
    display: inline-block
    vertical-align: top
    font-size: 0  
    white-space: normal
    outline: none
    +nosel
    +rm(544)
      &:nth-child(3n+1)
        transform: translateY(15%)
      &:nth-child(3n)
        transform: translateY(-15%) 
      // &:nth-child(3n-1)
      //   transform: translateY(-5%) 
    +r(544)
      width: 50%
  &-item
    display: inline-block
    vertical-align: top
    width: 100% 
    padding-bottom: 100%
    font-size: 0  
    +cover
    // +r(544)
    //   width: 50%  
.simply-scroll-clip  
  overflow: hidden
.box-epilog
  text-align: center
  padding-bottom: 0 
  .btn 
    +rem(margin-top,25px)

.modal-layout
  position: fixed
  left: 0
  right: 0
  bottom: 0
  top: 0
  width: 100%
  height: 100%
  margin: 0
  background: rgba(0,0,0,0.3)
  z-index: 200
  opacity: 0
  visibility: hidden
  transition: opacity .2s, transform .2s, visibility .2s
  +vertical
  &.modal-right
    text-align: right
    &:before
      height: 0
    &.active
      .modal-container
        transform: translateX(0)
        transition-delay: .25s
    .modal-container
      transform: translateX(100%)
      +tr(transform .3s $tr)
      margin-top: 0
      padding-top: 5%
      +rem(max-width,510px)
      position: relative
      width: 100%
      height: 100%
      text-align: left
      .modal-container-header
        position: static
      .modal-container-content
        +rem(margin-top,20px)
        +rem(padding,0 50px)
        +r(480)
          +rem(padding,0 15px)
      .header__hamburger
        position: absolute
        +rem(right,50px)
        +rem(top,37px)
        +r(480)
          +rem(right,25px)
          +rem(top,25px)     
  &.active
    visibility: visible
    opacity: 1
  .modal-container
    display: inline-block
    vertical-align: middle 
    +rem(min-width,320px)
    +rem(margin-top,-50px)
    max-height: 100%;
    overflow-y: auto 
    width: 100%
    background: $white
    &.modal-small
      +rem(max-width,490px)
      .modal-container-content
        +rem(padding,0 45px 65px 45px)   
    +r(544)
      margin-top: 0
    &-content 
      +clr 
      display: block
      +rem(min-height,20px)
      .form-footer
        +rem(margin,15px -45px 0 -45px)
        +rem(padding, 40px 45px 0)
        .btn
          +rem(padding-right,50px)
          +rem(padding-left,50px)
    &-content,&-header 
      text-align: left
    &-header
      +rem(padding,30px 45px 20px)
      position: relative
      .text1
        display: block
        +rem(margin-top,15px)
        +rem(margin-bottom,-10px)
        span
          display: inline-block
          +rem(padding-left,5px)
          font-weight: 700
      .small-link
        position: absolute
        +rem(top,10px)
        +rem(right,10px)
        +rem(padding,5px)

.small-link
  display: inline-block
  +contain
  opacity: .7
  cursor: pointer
  +tr(opacity .3s)
  &:hover
    opacity: 1
  &.pop-close
    +rem(width,20px)
    +rem(height,20px)
    background-image: url(../img/icons/close_popup.svg)

.bread-container
  .icon-link
    span
      color: $white
      +rem(font-size,12px)
      &:after
        +rem(bottom,-5px)
        background-color: $white
    &:first-child
      i 
        display: none
    i
      +rem(margin, 0 5px)
      text-align: center
      &:before
        content: ''
        display: inline-block
        height: 100%
        width: 100%
        background-image: url(../img/icons/crop.svg)
        +contain
        background-size:  3px 3px
    &:last-child
      pointer-events: none
      span
        &:after
          width: 0  

.inner-content
  +rem(max-width,1500px)
  margin: 0 auto
  flex: auto;
  +rm(991)
    +rem(padding, 0 25px)
.half
  display: flex
  flex-wrap: nowrap
  justify-content: center
  +r(991)
    flex-direction: column
  &-base
    margin-left: 9%
    flex: 1 1 22.5rem
    width: 55%
    +rem(padding-right,30px)
    +r(1450)
      margin-left: 2%
    +r(1280)
      margin: 0
    +r(991)
      order: 2
      padding: 0
      width: 100%
  &-section
    .box-review-content
      margin: 0
    .box-title-small
      +rem(padding-top,18px)
      +rem(letter-spacing,.2px)
    .checkbox-wrap
      text-align: center
      +r(544)
        display: none
    .review-slider
      +r(544)
        padding: 0
    .sort-select
      margin: 0 auto
      +rem(max-width,250px)
      +rm(544)
        display: none  
    .menu-nav-inner
      height: 0
      z-index: 2
      +r(544)
        +rem(margin,0 -25px)
      +rm(544)
        transform: translateY(2.9375rem)
    .questions-cont
      text-align: center
      .soc-btns
        text-align: center
      .link-tel 
        display: block
        text-align: center
        .u-number
          +rem(font-size,20px)
          font-weight: 400
      .btn 
        +rem(margin,35px 0 73px)

    .color-wrapper
      +rem(padding-top,25px)
    .color-block
      +rem(width,290px)
      +rem(height,290px)
      .color-block-icon
        +rem(margin, 20px auto 35px)
      &.calc 
        .box-title
          +rem(margin-top,20px)
          +rem(padding,0 15px)
        +r(544)
          +rem(max-height,200px)
    .menu-grid
      & + .i-arrows
        &+ .box-standart
          .u-light
            text-align: right
    .menu-item-wrap
      +rm(1560)
        width: 33.33%
        &:nth-child(3n-1)
          // transform: translateY(-20%)
      +screen(991px,1560px)
        width: 50%
      +r(991)
        width: 33.33%
      +r(890)
        width: 50%
      +r(544)
        width: 100%
        +rem(padding, 12px 0)
    &:not(:last-child)
      border-bottom: 1px solid $borderd
      +rem(padding,73px 0)
      +r(768)
        +rem(padding,35px 0)
    &:last-child
      +rem(padding-top,75px)
      +r(768)
        +rem(padding,35px 0 0)
  &-side
    flex: 0 0 25.5rem
    +rem(margin-top,-280px)
    position: relative
    +r(1450)
      flex: 0 0 20.5rem
    +r(991)
      flex: 1 0 0
      +rem(margin, 20px auto 0)
      order: 1
    +r(544)
      .checkbox-item,.checkbox-outer,.input-fake
        width: 100%
        text-align: center
    .sticky-wrap
      position: sticky
      +rem(top,110px)
      .white-box 
        +rem(padding,39px 48px)
        +r(1450)
          +rem(padding,30px 40px)
        .checkbox-wrap
          +rem(margin-top,35px)
          +rem(margin-bottom,28px)
        .form-footer
          +rem(margin,0 -50px)
          +rem(padding,35px 50px 0)
        &+.offer-feachure
          +rem(padding, 0 45px)
          .footer-nav-payment
            +rem(margin,40px 0 20px)
            +r(544)
              width: 100%
              margin: 10% 0 0
          li
            color: $text
            &:not(:first-child)
              +rem(margin-top,30px)
    .payment-item
      width: 25%
      img
        opacity: 1 !important

.profit
  &-wrap
    font-size: 0
  &-item
    display: inline-block
    vertical-align: top
    width: 33%
    text-align: center
    +rem(padding, 0 15px)
    &:last-child
      +rem(padding, 0 0 0 30px)
      +r(544)
        padding: 0
    +r(544)
      width: 100%
      +rem(margin-top,20px)
      
  &-img
    display: inline-block
    +rem(width,58px)
    +rem(height,58px)
    +rem(margin-bottom,27px)
    img
      display: block
      margin: 0 auto
      max-width: 100%
      max-height: 100%
.pagehead
  &-wrap
    +cover
  &-content
    +rm(991)
      +rem(padding,97px 0 55px)
    .h-title
      text-transform: uppercase 
      +rem(letter-spacing,-1.8px)
    .u-number
      display: block
      font-weight: 100  
      font-family: cera
      line-height: .5 
      .programm-value
        font-family:  cera
        display: inline-block
        vertical-align: middle
        +rem(font-size,14px)
        +rem(padding-left,5px)
        line-height: 1  
  &-wrap
    .inner-content
      +rem(padding-bottom,45px)
.white-box
  background: $white
  box-shadow: 
  box-shadow: 0px 5px 43px 0px rgba( 0, 0, 0,.15 );
  .h-title
    +rem(letter-spacing, -1px)
.checkbox
  &-wrap
    font-size: 0
    +rem(margin-left,-3px)
    +rem(margin-right,-3px)
  &-item
    display: inline-block
    vertical-align: top
    +rem(margin-left,1.5px)
    +rem(margin-right,1.5px)
    +rem(margin-bottom,9px)
    &.link
      .checkbox-outer 
        &:not(.active):hover
          .input-fake
            border-color: #000
        &.active
          .input-fake
            background: $borderl
  &-outer   
    position: relative
    cursor: pointer
    +nosel
    +clr

    .input-real
      position: absolute
      left: 0 
      right: 0  
      opacity: 0
      width: 100%
      height: 100%
      &:checked + .input-fake
        background: $borderl
      &:not(:checked):hover + .input-fake
        border-color: #000
    .input-fake
      display: inline-block
      border: 2px solid $borderl
      +rem(font-size,14px)
      color: $text
      +rem(padding, 10px 17px)
      +rem(border-radius, 30px)
      transition: background .3s, border-color .3s
      text-transform: uppercase 

//ui-slider styles
.ui
  &-slider
    +rem(height,2px)
    border: none!important 
    background: 0 0 !important
    position: relative
    cursor: pointer
    +rem(padding,15px 0)
    &:before
      position: absolute
      left: 0
      right: 0
      width: 100%
      +rem(height,2px)
      content: ''
      background: $borderl
    .dot25
      left: 25%
    .dot50
      left: 50%
    .dot100
      left: 100%
    .dot0
      left: 0%     
    .dot
      content: ''
      display: inline-block
      position: absolute
      +rem(top,13px)
      background: #000
      +rem(width,6px)
      +rem(height,6px)
      border-radius: 50%
    &:after
      right: 0
    &-range
      background: #000
      +rem(max-height,2px)
      top: 50% !important
    &-handle
      border-radius: 50%
      background: #000 !important
      border: none !important
      +rem(margin-top,10px)
      +tr(transform .2s)
      +rem(min-height,22px)
      +rem(min-width,22px)
      cursor: pointer !important
      &:hover
        transform: scale(1.2)
      
.slider
  &-wrap
    +rem(margin-bottom,45px)
  &-text-wrapper
    font-size: 0
    +rem(margin-bottom,20px)
  &-weeks,&-amount
    display: inline-block
    vertical-align: top
    width: 50%
    +rem(font-size,14px)
    font-weight: 700
    text-transform: uppercase
    .discount
      color: #0ea550
      display: inline-block
      +rem(padding-left,5px)
  &-amount
    text-align: right

.js-slider-info.js-slider-x
  +hidetext
.form
  &-footer
    border-top: 1px solid $borderl
    font-size: 0
    +clr
  &-total-count
    +rem(font-size,24px)
    font-weight: 700
    color: $text
    text-transform: uppercase
  &-total,&-buttons
    display: inline-block
    vertical-align: top
  &-total-week
    text-transform: uppercase
    font-weight: 400
    +rem(margin-top,5px)
  &-buttons
    text-align: center
    float: right
    .icon-link
      display: block
      +rem(max-width,115px)
      +rem(margin,10px auto )

.side
  &-wrap
    font-size: 0
  &-title,&-content 
    display: inline-block
    vertical-align: top
    li
      +rem(margin-bottom,22px)
  &-title
    width: 34%
    +rem(padding-right,20px)
    .h-title
      +rem(letter-spacing,-1px)
    +r(768)
      width: 100%
      text-align: center
      +rem(padding,0 10px 20px 10px)
  &-content 
    width: 66%
    +r(768)
      width: 100%
    .text1
      +rem(margin-bottom,21px)
    p:not([class])
      +rem(font-size,16px)
      color: $text
      font-weight: 300
      line-height: 1.438
      +rem(margin-bottom,18px)

.options
  &-wrap
    display: flex
    flex-flow: row wrap
    justify-content: stretch
    align-items: stretch
    +rem(margin, 0 -10px)
  &-item
    flex-shrink: 1
    flex-grow: 1
    flex-basis: 300px
    +rem(margin,20px 10px 0 10px)
    width: 50%
    font-size: 0
    justify-content: space-between
  &-text
    +rem(font-size,20px)
    line-height: 1.4
    color: $text
    +rem(padding,40px 0 73px 35px)
    font-weight: 300
    +rem(max-width,254px)
    width: 60%
    display: inline-block
    vertical-align: top
  &-img
    background-size: contain
    +rem(max-width,173px)
    width: 40%
    height: 100%
    background-position: right center
    background-repeat: no-repeat
    display: inline-block
    vertical-align: top
    float: right
    
.soc-btn
  +rem(font-size,14px)
  text-transform: uppercase
  color: $white
  position: relative
  +rem(padding,13px 27px 13px 60px)
  +rem(border-radius, 20px)
  +tr(background-color .3s)
  &:before
    content: ''
    position: absolute
    display: inline-block
    +contain
    +rem(left,25px)
    top: 32%
    +rem(width,25px)
    +rem(height,15px)
  &.vk
    background-color: #4c75a3
    &:before
      background-image: url(../img/icons/vkw.svg)
  &.fb
    background-color: #3b5998
    background-size: cover
    &:before
      background-image: url(../img/icons/fbw.svg)
    &.small
      &:before
        +rem(height,12px)
        top: 25%
  &.small
    +rem(padding,5px 17px 5px 37px)
    +rem(font-size,12px)
    &:before
      +rem(width,16px)
      +rem(height,10px)
      +rem(left,15px)
      top: 28%
  &:hover
    background-color: #000
.calc-result
  border-bottom: 1px solid $borderl
  +rem(padding,0 0 20px 0)
  +rem(margin-bottom,40px)
  .u-light
    .result
      font-weight: 700
      float: right
      +rem(margin-top,-3px)
      +rem(font-size,20px)
.select-check
  .dropdown-target
    +rem(margin-top,-5px)
  .dropdown-inner
    +rem(padding-top,10px)
    +rem(padding-bottom,10px)
  &.active
    border: 1.5px solid $text
    .select-img
      transform: scale(1,-1)
.selects
  width: 100%
  display: inline-block
  position: relative
  +tr(border .3s)
  // +rem(border-radius,2px)
  +rem(padding,14px 20px 11px);
  text-align: left
  font-family: cera

  .select-img
    position: absolute
    +rem(right,20px)
    top: 0
    height: 100%
    +rem(width,15px)
    +contain
    background-image: url(../img/icons/arrow_down.svg)
  .btn-name
    display: block
    +rem(font-size,12px)
    opacity: .7
    +rem(margin-top,-2px)
    &:after
      content: '*'
      color: red
  .btn-text
    +rem(margin-top,2px)
    display: block
    +rem(font-size,16px)
  .btn-text
.option
  display: block
  width: 100%
  cursor: pointer;
  position: relative;
  +rem(padding,8px 0);
  color: #000
  +rem(font-size,16px)
  font-family: cera
  input
    position: absolute;
    opacity: 0
    &:checked + span
      font-weight: 600
      color: #000
      &:after
        opacity: 1
  span
    &:after
      position: absolute
      content: ''
      +rem(width,20px)
      +rem(height,15px)
      +contain
      +tr(opacity .3s)
      opacity: 0
      background-image: url(../img/icons/checkbox.svg)
      +rem(right,10px)
.input
  &-wrapper
    width: 100%
    display: inline-block
    border: 1.5px solid $borderl
    position: relative
    +tr(border .3s)
    +rem(border-radius,2px)
    +rem(margin-bottom,25px)
    &.w33 
      width: 30%
      vertical-align: top
    &.w33:nth-child(3)
        margin: 0 5%
    &.in-focus
      border: 1.5px solid $text
    &.has-error
      border: 1.5px solid red
      &.in-focus
        border: 1.5px solid #ca0000
    &:last-of-type
      +rem(margin-bottom,40px)
    &.req
      .input-label
        &:after
          content: '*'
          color: red
  &-main 
    +rem(font-size,16px)
    font-family: cera
    font-weight: 300
    +rem(padding,29px 20px 10px 20px)
    border: none
    outline: none
    width: 100%
    opacity: 0
    color: #000
  &-label
    color: #999; 
    +rem(font-size,20px)
    font-weight: 300;
    position: absolute;
    pointer-events: none;
    color: #000
    opacity: .7
    +rem(top,20px)
    +rem(left,20px)
    transition: 0.2s ease all; 
    -moz-transition: 0.2s ease all; 
    -webkit-transition: 0.2s ease all;
    &:before
      +rem(font-size,12px)

.form-error
  +rem(font-size,12px)
  position: absolute
  +rem(top,20px)
  +rem(left,20px)
  +tr(opacity .3s)
  opacity: 0
  color: red
.input-main:focus ~ .input-label,.input-wrapper.has-success .input-label,.form-error,.input-wrapper.has-error .input-main:focus ~ .input-label
  +rem(top,10px)
  +rem(font-size,12px)
.input-main:focus,.input-wrapper.has-success .input-main,.input-wrapper.has-error .form-error
  opacity: 1
.input-main:focus ~  .form-error
  opacity: 0
.input-wrapper.has-error .input-label
  +rem(font-size,16px)
  +rem(top,30px)
.input-wrapper.has-success .input-main
  color: #000
.modal-form
  +rem(margin-top,20px)
.btn-calc
  &-fixed
    display: inline-block
    position: fixed
    +rem(left,50px)
    +rem(bottom,100px)
    +rem(width,70px)
    z-index: 2
    +rem(height,70px)
    border-radius: 50%
    background-color: $white
    border: 1px solid $borderl
    transition: background-color .3s
    box-shadow: 0px 0px 9px 0px rgba( 0, 0, 0, .1 );
    cursor: pointer
    &:hover
      background-color: #000
  &-icon
    display: inline-block
    width: 100%
    height: 100%
    &:before,&:after
      position: absolute
      +vcenter
      content: ''
      +rem(width,21px)
      +rem(height,26px)
      +contain
    &:before
      background-image: url(../img/icons/Calc.svg)

.pagehead-wrap
  &.text-center
    text-align: center
    +rem(padding-bottom,90px)
    .pagehead-content
      +rem(padding-bottom,15px)
      +rem(padding-top,85px)

.center
  &-content
    +rem(margin-top, -110px)
  &-box
    display: block
    width: 100%
    margin: 0 auto
    +rem(max-width,820px)
    .white-box
      +rem(padding,45px 50px)
      +r(670)
        +rem(padding,25px 20px)
      .h-title
        +rem(margin-bottom,40px)
      .table
        +rem(margin-bottom,20px)
      .form-buttons,.form-total
        float: none
        width: 50%
      .form-total
        text-align: right
        +rem(padding-right,55px)
.promo-form
  width: 100%
  +rem(max-width,270px)
  border: 1.5px solid $borderl
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  align-items: stretch
  +rem(border-radius,20px)
  overflow: hidden
  &.in-focus
    border: 1.5px solid $text
    .promo-form-submit
      background: $text
      border-left: 1px solid $text
      color: $white
  &.error
    border: 1.5px solid red
    .promo-form-submit
      background: $white
      border-left: 1px solid red
      color: $text
  &-input
    +rem(padding,7px 20px)
    font-family: cera
    font-weight: 300
    color: $text
    +rem(font-size,16px)
    +placeholder 
      font-family: cera
      font-weight: 300
      +rem(font-size,14px)
  &-submit
    +rem(font-size,14px)
    color: $text
    text-transform: uppercase
    +rem(padding, 0)
    transition: color .3s, border-left .3s
    border-left: 1px solid $borderl
    width: 20%
    +rem(max-width,65px)
    text-align: center
    
.elem-price
  font-weight: 700
  +rem(font-size,20px)
  color: $text

  .u-reg
    display: block
    text-transform: uppercase
    +rem(margin-top,5px)
.table
  display: table
  width: 100%
  position: relative
  +r(580)
    display: block
  &-head
    display: table-header-group
    +rem(font-size,12px)
    font-weight: 300
    color: $halfgray
    .table-item
      +rem(padding, 0 0 15px)
      +r(544)
        display: none
  &-total
    text-align: right
  &-item
    display: table-cell
    vertical-align: top
    .text1
      line-height: 1
  &-row
    display: table-row
    +r(580)
      display: block
      width: 100%
    .table-item
      +rem(padding,15px 0)
  &-name
    width: 28%
  &-delete
    +rem(width,55px)
    text-align: right
    +r(670)
      +rem(width,35px)
    +r(580)
      display: inline-block
  &-period
    width: 23%
  &-count
    .number-wrap
      +rem(margin-top,-3px)
  &-total,&-count
    +r(580)
      display: inline-block
      width: 41%
      text-align: center
      white-space: nowrap

.small-link.close    
  display: inline-block
  +contain
  +rem(width,13px)
  +rem(height,13px)
  background-image: url(../img/icons/close_menu.svg)
  +tr(transform .3s)
  &:hover
    transform: rotate(90deg)
.number
  font-size: 0;
  position: relative;
  display: table
  width: 100%
  border-collapse: collapse
  +clr
  &-wrap
  &__minus,&__plus 
    +rem(width,29px);
    background-color: #fff;
    position: relative;
    border-radius: 50%
    border: 1px solid
    cursor: pointer;
    background-position: center
    background-repeat: no-repeat
    background-size: 10px 10px
    border-color: $borderl
    transition: border-color .3s, background-color .3s
    &:hover
      border-color: #000
  &__minus,&__plus,&__input
    display: table-cell !important
    vertical-align: top;
    +rem(font-size,11px)
    +rem(height,29px)
  &__input 
    background-color: #fff;
    +rem(line-height,28px)
    +rem(width,60px)
    text-align: center;
    color: #000000;
    border: 0;
    -webkit-appearance: textfield !important
    margin: 0
  &__minus
    background-image: url(../img/icons/minus.svg)
  &__plus
    background-image: url(../img/icons/plus.svg)




