.header__hamburger
  .hamburger
    .hamburger-inner
      span
      span
      span
.header__logo
  .logo-outer
    .logo-middle
      a(href="#").logo-inner
.header__navs
  .header__navs--phone
    a(href="tel:89260201481").link-tel 
      span.u-number 8 (926) 02-01-481
  nav.header__navs--nav
    a(href="#").nav-link Программы питания 
    a(href="#").nav-link Меню 
    a(href="#").nav-link О сервисе
  // .active когда товар добавлен
  .header__navs--cart.active
    //.js-popup-button когда нужна модалка логина, когда человек уже зашел, убираем ее
    .header__navs--login.dropdown-trigger.js-popup-button(data-modal='login')
      a(href="#").u-reg.u-halfgray.s-small Войти
      .dropdown-target
        .dropdown-inner
         .dropdown-content
            a(href="#").menu-item История заказов
            a(href="#").menu-item.active Мои данные
            a(href="#").menu-item Изменить пароль
            a(href="#").menu-item Выйти
    .header__navs--cart-inner
      a(href="#").cart
        .cart-icon
          i.cart-i
            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 33.5 27', style='enable-background:new 0 0 33.5 27;', xml:space='preserve')
              style(type='text/css').
                .stcart{fill:#2D2D2D;}
                .stcart1{fill:none;stroke:#2D2D2D;stroke-width:1.2;stroke-miterlimit:10;}
              g
                path.stcart(d='M32.1,9.8c0.1,0.2,0.2,0.7,0.2,1.8c0,0.9-0.2,1-0.4,1.1c-0.5,0.2-0.8,0.5-0.9,0.9l-4.3,12.1l-0.1,0.2H6.5v-0.1\
                L2.9,13.6c-0.1-0.5-0.4-0.8-1-1c-0.4-0.1-0.6-0.2-0.6-1c0-1,0.1-1.5,0.2-1.8H32.1 M1.2,8.5c-0.4,0-1.2,0.3-1.2,3\
                c0,2.2,1.7,2.1,1.7,2.3L5.4,26c0,0.5,0.5,1,1,1h20.4c0.6,0,1-0.4,1-1l4.4-12.2c0-0.2,1.3-0.1,1.3-2.3c0-2.8-0.7-3-1.3-3\
                C32.2,8.5,1.3,8.5,1.2,8.5L1.2,8.5z')
              path.stcart1(d='M8,9.1l8.7-8.4l8.7,8.4')
          span.u-number.s-small.u-halfgray  0
        .u-light.s-text.u-halfgray Мой заказ
        .u-number.u-halfgray.s-small 45 000 ₽



        






