<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta content="True" name="HandheldFriendly">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#0432da">
    <meta name="apple-mobile-web-app-status-bar-style" content="#0432da">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <link rel="shortcut icon" href="img/fav/48x48.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/fav/57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/fav/72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/fav/114x114.png">
    <link rel="stylesheet" media="all" href="css/screen.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDanQ-UHb2wM8kRInfW5Dt0cO-3f1a7nH4"></script>
    <script src="js/app.js"></script>
  </head>
  <body>
    <!--BEGIN out-->
    <div class="out" id="top">
      <div class="page__outer">
        <div class="page__wrapper">
          <header class="page__header cd-auto-hide-header">
            <div class="header__hamburger">
              <div class="hamburger">
                <div class="hamburger-inner"><span></span><span></span><span></span></div>
              </div>
            </div>
            <div class="header__logo">
              <div class="logo-outer">
                <div class="logo-middle"><a class="logo-inner" href="#"></a></div>
              </div>
            </div>
            <div class="header__navs">
              <div class="header__navs--phone"><a class="link-tel" href="tel:89260201481"> <span class="u-number">8 (926) 02-01-481</span></a></div>
              <nav class="header__navs--nav"><a class="nav-link" href="#">Программы питания </a><a class="nav-link" href="#">Меню </a><a class="nav-link" href="#">О сервисе</a></nav>
              <div class="header__navs--cart">
                <div class="header__navs--login"><a class="js-modal-trigger u-reg u-halfgray s-small" href="#">Войти</a></div>
                <div class="header__navs--cart-inner"><a class="cart" href="#">
                    <div class="cart-icon"><i class="cart-i">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 33.5 27" style="enable-background:new 0 0 33.5 27" xml:space="preserve">
                          <style type="text/css">
                            .stcart{fill:#2D2D2D;}
                            .stcart1{fill:none;stroke:#2D2D2D;stroke-width:1.2;stroke-miterlimit:10;}
                          </style>
                          <g>
                            <path class="stcart" d="M32.1,9.8c0.1,0.2,0.2,0.7,0.2,1.8c0,0.9-0.2,1-0.4,1.1c-0.5,0.2-0.8,0.5-0.9,0.9l-4.3,12.1l-0.1,0.2H6.5v-0.1                L2.9,13.6c-0.1-0.5-0.4-0.8-1-1c-0.4-0.1-0.6-0.2-0.6-1c0-1,0.1-1.5,0.2-1.8H32.1 M1.2,8.5c-0.4,0-1.2,0.3-1.2,3                c0,2.2,1.7,2.1,1.7,2.3L5.4,26c0,0.5,0.5,1,1,1h20.4c0.6,0,1-0.4,1-1l4.4-12.2c0-0.2,1.3-0.1,1.3-2.3c0-2.8-0.7-3-1.3-3                C32.2,8.5,1.3,8.5,1.2,8.5L1.2,8.5z"></path>
                          </g>
                          <path class="stcart1" d="M8,9.1l8.7-8.4l8.7,8.4"></path>
                        </svg></i><span class="u-number s-small u-halfgray"> 0</span></div>
                    <div class="u-light s-text u-halfgray">Мой заказ</div></a></div>
              </div>
            </div>
          </header>
          <main class="page__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </main>
          <footer class="page__footer" style="background-image: url(img/fbg.jpg)">
            <div class="footer__main">
              <div class="footer__main-content">
                <!--левая колонка-->
                <div class="footer-content-block">
                                    <div class="footer-list">
                                      <div class="u-bold u-white">Программы</div>
                                      <ul>
                                        <li><a class="u-light s-text u-white" href="#">1000-1600 ккал</a></li>
                                        <li><a class="u-light s-text u-white" href="#">1600-2000 ккал</a></li>
                                        <li><a class="u-light s-text u-white" href="#">2100-2300 ккал</a></li>
                                        <li><a class="u-light s-text u-white" href="#">2300-3500 ккал</a></li>
                                        <li><a class="u-light s-text u-white" href="#">3500-4500 ккал</a></li>
                                      </ul>
                                    </div>
                                    <div class="footer-list">
                                      <div class="u-bold u-white">О сервисе</div>
                                      <ul>
                                        <li><a class="u-light s-text u-white" href="#">Доставка</a></li>
                                        <li><a class="u-light s-text u-white" href="#">Способы оплаты</a></li>
                                        <li><a class="u-light s-text u-white" href="#">Отзывы</a></li>
                                        <li><a class="u-light s-text u-white" href="#">Подарочные сертификаты</a></li>
                                        <li><a class="u-light s-text u-white" href="#">Новости</a></li>
                                      </ul>
                                    </div>
                  <div class="footer-nav-block">
                    <ul>
                      <li><a class="u-bold u-white" href="#">Клуб Eat-bit</a></li>
                      <li><a class="u-bold u-white" href="#">Личный кабинет</a></li>
                      <li><a class="u-bold u-white" href="#">Карта сайта</a></li>
                      <li><a class="u-bold u-white" href="#">Контакты</a></li>
                    </ul>
                    <!-- картинок 2 штуки в каждом блоке, загрейскейлили не все-->
                    <div class="footer-nav-payment">
                                            <div class="payment-item"><img src="img/payment/visa.svg" alt=""><img alt=""></div>
                                            <div class="payment-item"><img src="img/payment/masterm.png" alt=""><img src="img/payment/master.png" alt=""></div>
                                            <div class="payment-item"><img src="img/payment/maestrom.png" alt=""><img src="img/payment/maestro.png" alt=""></div>
                                            <div class="payment-item"><img src="img/payment/ya2m.png" alt=""><img src="img/payment/ya2.png" alt=""></div>
                                            <div class="payment-item"><img src="img/payment/webmm.png" alt=""><img src="img/payment/webm.png" alt=""></div>
                                            <div class="payment-item"><img src="img/payment/qiwi2m.png" alt=""><img src="img/payment/qiwi2.png" alt=""></div>
                                            <div class="payment-item"><img src="img/payment/am.png" alt=""><img alt=""></div>
                                            <div class="payment-item"><img src="img/payment/bpsm.png" alt=""><img alt=""></div>
                    </div>
                  </div>
                </div>
                <!--правая колонка      -->
                <div class="footer-contact-block">
                  <div class="footer-contact-svyaz">
                    <div class="describe-text">Свяжитесь с нами</div><a class="u-number u-white h2" href="tel:89260201481">8 (926) 02-01-481</a>
                    <div class="footer-mailto">
                      <div class="u-light u-white s-text">Обратная связь </div><span class="dot-divider u-light u-white s-text">. </span><a class="u-light u-white" href="mailto:info@eat-bit.ru">info@eat-bit.ru</a>
                    </div>
                  </div>
                  <div class="footer-contact-mail">
                    <div class="describe-text">Подпишитесь на акции, обещаем только полезную информацию! </div>
                    <form class="footer-form js-validate">
                      <input class="footer-form-input" type="email" placeholder="E-mail">
                      <button class="footer-form-submit u-bold u-white s-text" type="submit">Подписаться</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer__footer">
              <div class="box-standart">
                <div class="content-wrapp">
                  <div class="copyright u-light s-text u-white">© 2016 Eat-bit.ru</div>
                  <div class="social">
                    <div class="soc-icon-wrapp fb"><a class="soc-icon-item" href="#">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 30 30" style="enable-background:new 0 0 30 30" xml:space="preserve">
                          <style type="text/css">
                            .stsoc{fill-rule:evenodd;clip-rule:evenodd;fill:#000000;}
                            .stsoc1{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
                          </style>
                          <path class="stsoc" d="M1.5,0h27C29.3,0,30,0.7,30,1.5v27c0,0.8-0.7,1.5-1.5,1.5h-27C0.7,30,0,29.3,0,28.5v-27C0,0.7,0.7,0,1.5,0z"></path>
                          <path class="stsoc1" d="M16.1,23.5h-3.4c-0.2,0-0.4-0.2-0.4-0.4v-7.4h-1.5c-0.2,0-0.4-0.2-0.4-0.4v-3c0-0.2,0.2-0.4,0.4-0.4h1.5l0-1.9              c0-1.1,0.3-2,0.9-2.6c0.7-0.7,1.7-1,3.1-1h2.7c0.2,0,0.4,0.2,0.4,0.4v3c0,0.2-0.2,0.4-0.4,0.4h-2c-0.2,0-0.5,0.2-0.6,0.4l0,1.5H19              c0.1,0,0.2,0,0.3,0.1c0.1,0.1,0.1,0.2,0.1,0.3c-0.1,1.5-0.3,3-0.3,3c0,0.2-0.2,0.3-0.4,0.3h-2.2v7.4C16.5,23.3,16.3,23.5,16.1,23.5z              "></path>
                        </svg></a></div>
                    <div class="soc-icon-wrapp vk"><a class="soc-icon-item" href="#">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 30 30" style="enable-background:new 0 0 30 30" xml:space="preserve">
                          <style type="text/css">
                            .stsoc{fill-rule:evenodd;clip-rule:evenodd;fill:#ffffff;}
                            .stsoc1{fill-rule:evenodd;clip-rule:evenodd;fill:#000000;}
                          </style>
                          <path class="stsoc" d="M1.5,0h27C29.3,0,30,0.7,30,1.5v27c0,0.8-0.7,1.5-1.5,1.5h-27C0.7,30,0,29.3,0,28.5v-27C0,0.7,0.7,0,1.5,0z"></path>
                          <path class="stsoc1" d="M15,21h1.1c0,0,0.3,0,0.5-0.2c0.2-0.2,0.2-0.5,0.2-0.5s0-1.6,0.7-1.9c0.7-0.2,1.6,1.6,2.5,2.3              c0.7,0.5,1.2,0.4,1.2,0.4l2.5,0c0,0,1.3-0.1,0.7-1.2c-0.1-0.1-0.4-0.8-1.8-2.3c-1.5-1.6-1.3-1.3,0.5-4c1.1-1.7,1.6-2.7,1.4-3.1              c-0.1-0.4-1-0.3-1-0.3l-2.8,0c0,0-0.2,0-0.4,0.1c-0.1,0.1-0.2,0.4-0.2,0.4s-0.4,1.3-1,2.4c-1.2,2.3-1.7,2.4-1.9,2.3              c-0.5-0.3-0.4-1.3-0.4-2c0-2.2,0.3-3.2-0.6-3.4c-0.3-0.1-0.5-0.1-1.3-0.1c-1,0-1.8,0-2.3,0.3c-0.3,0.2-0.6,0.5-0.4,0.6              c0.2,0,0.6,0.1,0.8,0.5c0.3,0.4,0.3,1.4,0.3,1.4s0.2,2.6-0.4,2.9c-0.4,0.2-0.9-0.2-2-2.3c-0.6-1.1-1-2.3-1-2.3s-0.1-0.2-0.2-0.3              C9.5,10,9.2,10,9.2,10l-2.6,0c0,0-0.4,0-0.5,0.2c-0.1,0.2,0,0.5,0,0.5s2.1,5.3,4.4,8C12.6,21.1,15,21,15,21z">        </path>
                        </svg></a></div>
                    <div class="soc-icon-wrapp insta"><a class="soc-icon-item" href="#">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 34 34" style="enable-background:new 0 0 34 34" xml:space="preserve">
                          <style type="text/css">.stsoc1{fill:#2D2D2D;}</style>
                          <g>
                            <path class="stsoc1" d="M26.5,6h-1C24.7,6,24,6.7,24,7.5v1c0,0.8,0.7,1.5,1.5,1.5h1c0.8,0,1.5-0.7,1.5-1.5v-1C28,6.7,27.3,6,26.5,6                L26.5,6z"></path>
                          </g>
                          <g>
                            <path class="stsoc1" d="M17,12.5c3,0,5.5,2.5,5.5,5.5S20,23.5,17,23.5S11.5,21,11.5,18S14,12.5,17,12.5 M17,10c-4.4,0-8,3.6-8,8                s3.6,8,8,8s8-3.6,8-8S21.4,10,17,10L17,10z"></path>
                          </g>
                          <g>
                            <path class="stsoc1" d="M25,2.5c3.6,0,6.5,2.9,6.5,6.5v16c0,3.6-2.9,6.5-6.5,6.5H9c-3.6,0-6.5-2.9-6.5-6.5V9c0-3.6,2.9-6.5,6.5-6.5H25                M25,0H9C4,0,0,4,0,9v16c0,5,4,9,9,9h16c5,0,9-4,9-9V9C34,4,30,0,25,0L25,0z"></path>
                          </g>
                        </svg></a></div>
                  </div><a class="developer" href="#">
                    <div class="dev-icon">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 200 186.5" style="enable-background:new 0 0 200 186.5" xml:space="preserve">
                        <style type="text/css">.flex{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;stroke:#FFFFFF;stroke-width:6;stroke-linejoin:round;stroke-miterlimit:10;}</style>
                        <path class="flex" d="M165.5,165v-39L100,164.7L34.5,126v39L3,183.5V77.4l97,56.1l97-56.1v105.8L165.5,165z"></path>
                        <path class="flex" d="M100,90.2L3,34.1V3l97,56.1L197,3v30.8L100,90.2z"></path>
                      </svg>
                    </div>
                    <div class="dev-text">
                      <div class="u-bold u-white s-text">FLEX.MEDIA</div>
                      <div class="smalllight">Разработка сервиса</div>
                    </div></a>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <div class="modals"></div>
    <!--END out-->
  </body>
</html>