extends _layout

block title
  title Программа

block content
  .pagehead-wrap.text-left(style='background-image: url(img/hbg.png)')
    .inner-content
      .half
        .half-base
          .pagehead-content
            h1.h-title.h1.u-white Программа питания 
              span.u-number 2300–2900
                span.programm-value ккал
                  br
                  | день
          .bread-container
            mixin bread(name)
              a(href="#").icon-link
                i 
                span #{name}
            +bread('Главная')
            +bread('Программы питания')
            +bread('2300-2600 ккал/день')
  .inner-content
    .half
      .half-base
        p dsfdsfdsfdsfdsfdsfdsfdsfs    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, quod explicabo quas alias, maiores ea impedit eos nulla aperiam dolorem velit officia voluptas illum saepe quis incidunt id. Reprehenderit.    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit sapiente accusantium optio fugit, nisi natus pariatur rem mollitia minus placeat nostrum soluta sit dolor esse provident harum excepturi in asperiores.
        p dsfdsfdsfdsfdsfdsfdsfdsfs    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, quod explicabo quas alias, maiores ea impedit eos nulla aperiam dolorem velit officia voluptas illum saepe quis incidunt id. Reprehenderit.    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit sapiente accusantium optio fugit, nisi natus pariatur rem mollitia minus placeat nostrum soluta sit dolor esse provident harum excepturi in asperiores.
        p dsfdsfdsfdsfdsfdsfdsfdsfs    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, quod explicabo quas alias, maiores ea impedit eos nulla aperiam dolorem velit officia voluptas illum saepe quis incidunt id. Reprehenderit.    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit sapiente accusantium optio fugit, nisi natus pariatur rem mollitia minus placeat nostrum soluta sit dolor esse provident harum excepturi in asperiores.
        p dsfdsfdsfdsfdsfdsfdsfdsfs    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, quod explicabo quas alias, maiores ea impedit eos nulla aperiam dolorem velit officia voluptas illum saepe quis incidunt id. Reprehenderit.    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit sapiente accusantium optio fugit, nisi natus pariatur rem mollitia minus placeat nostrum soluta sit dolor esse provident harum excepturi in asperiores.
        p dsfdsfdsfdsfdsfdsfdsfdsfs    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, quod explicabo quas alias, maiores ea impedit eos nulla aperiam dolorem velit officia voluptas illum saepe quis incidunt id. Reprehenderit.    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit sapiente accusantium optio fugit, nisi natus pariatur rem mollitia minus placeat nostrum soluta sit dolor esse provident harum excepturi in asperiores.
        p dsfdsfdsfdsfdsfdsfdsfdsfs    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, quod explicabo quas alias, maiores ea impedit eos nulla aperiam dolorem velit officia voluptas illum saepe quis incidunt id. Reprehenderit.    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit sapiente accusantium optio fugit, nisi natus pariatur rem mollitia minus placeat nostrum soluta sit dolor esse provident harum excepturi in asperiores.
        p dsfdsfdsfdsfdsfdsfdsfdsfs    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, quod explicabo quas alias, maiores ea impedit eos nulla aperiam dolorem velit officia voluptas illum saepe quis incidunt id. Reprehenderit.    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit sapiente accusantium optio fugit, nisi natus pariatur rem mollitia minus placeat nostrum soluta sit dolor esse provident harum excepturi in asperiores.
        p dsfdsfdsfdsfdsfdsfdsfdsfs    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, quod explicabo quas alias, maiores ea impedit eos nulla aperiam dolorem velit officia voluptas illum saepe quis incidunt id. Reprehenderit.    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit sapiente accusantium optio fugit, nisi natus pariatur rem mollitia minus placeat nostrum soluta sit dolor esse provident harum excepturi in asperiores.
        p dsfdsfdsfdsfdsfdsfdsfdsfs    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, quod explicabo quas alias, maiores ea impedit eos nulla aperiam dolorem velit officia voluptas illum saepe quis incidunt id. Reprehenderit.    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit sapiente accusantium optio fugit, nisi natus pariatur rem mollitia minus placeat nostrum soluta sit dolor esse provident harum excepturi in asperiores.
        p dsfdsfdsfdsfdsfdsfdsfdsfs    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, quod explicabo quas alias, maiores ea impedit eos nulla aperiam dolorem velit officia voluptas illum saepe quis incidunt id. Reprehenderit.    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit sapiente accusantium optio fugit, nisi natus pariatur rem mollitia minus placeat nostrum soluta sit dolor esse provident harum excepturi in asperiores.
        p dsfdsfdsfdsfdsfdsfdsfdsfs    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, quod explicabo quas alias, maiores ea impedit eos nulla aperiam dolorem velit officia voluptas illum saepe quis incidunt id. Reprehenderit.    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit sapiente accusantium optio fugit, nisi natus pariatur rem mollitia minus placeat nostrum soluta sit dolor esse provident harum excepturi in asperiores.
        p dsfdsfdsfdsfdsfdsfdsfdsfs    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, quod explicabo quas alias, maiores ea impedit eos nulla aperiam dolorem velit officia voluptas illum saepe quis incidunt id. Reprehenderit.    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit sapiente accusantium optio fugit, nisi natus pariatur rem mollitia minus placeat nostrum soluta sit dolor esse provident harum excepturi in asperiores.
        p dsfdsfdsfdsfdsfdsfdsfdsfs    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, quod explicabo quas alias, maiores ea impedit eos nulla aperiam dolorem velit officia voluptas illum saepe quis incidunt id. Reprehenderit.    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit sapiente accusantium optio fugit, nisi natus pariatur rem mollitia minus placeat nostrum soluta sit dolor esse provident harum excepturi in asperiores.
        p dsfdsfdsfdsfdsfdsfdsfdsfs    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, quod explicabo quas alias, maiores ea impedit eos nulla aperiam dolorem velit officia voluptas illum saepe quis incidunt id. Reprehenderit.    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit sapiente accusantium optio fugit, nisi natus pariatur rem mollitia minus placeat nostrum soluta sit dolor esse provident harum excepturi in asperiores.
        p dsfdsfdsfdsfdsfdsfdsfdsfs    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, quod explicabo quas alias, maiores ea impedit eos nulla aperiam dolorem velit officia voluptas illum saepe quis incidunt id. Reprehenderit.    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit sapiente accusantium optio fugit, nisi natus pariatur rem mollitia minus placeat nostrum soluta sit dolor esse provident harum excepturi in asperiores.
      .half-side
        .sticky-wrap.js-sticky
          .white-box
            .h-title.h2 Заказать
            form(action=" ").js-validate
              ul.checkbox-wrap
                mixin Check(name)
                  li.checkbox-item
                    label.checkbox-outer 
                      input.input-real(type="radio",name='group',value = name)
                      span.input-fake #{name}
                +Check('2300-2600 ккал')
                +Check('2600-2900 ккал')
                +Check('2900-3200 ккал')
              .slider-wrap.js-slider-wrap
                .slider-text-wrapper
                  .slider-weeks
                    span.js-slider-week 2 недели
                    span.discount.js-slider-discount -16%
                  .slider-amount
                    span.js-slider-amount 1500 
                    |₽/день
                #rangeinput
                  i.dot.dot25
                  i.dot.dot50
                  i.dot.dot0
                  i.dot.dot100






















  