extends _layout

block title
  title Регистрация

block content
  .pagehead-wrap.text-center(style='background-image: url(img/hbg.png)')
    .inner-content
      .pagehead-content
        h1.h-title.h1.u-white Регистрация
      .bread-container
        mixin bread(name)
          a(href="#").icon-link
            i 
            span #{name}
        +bread('Главная')
        +bread('Регистрация')
  .inner-content.center-content
    .center-box
      form.offer-form.js-validate
        .white-box.client
          .h-title.h2 Спасибо
            i.small-link.pop-close.closePopup
          .text1 На ваш e-mail отправлено письмо для восстановления пароля. Проверьте вашу почту.



















  