extends _layout

block title
	title Контакты

block content
	.pagehead-wrap.text-left(style='background-image: url(img/hbg.jpg)')
		.inner-content
			.half
				.half-base
					.pagehead-content
						h1.h-title.h1.u-white Наши Контакты
					.bread-container
						mixin bread(name)
							a(href="#").icon-link
								i 
								span #{name}
						+bread('Главная')
						+bread('Контакты')
	.inner-content
		.half.half-contact
			.half-base
				.half-section
					.side-wrap
						.side-title 
							.h-title.h2 Компания «Eat-bit»                
						.side-content  
							p Приём заявок: с 10
								sup 00
								| до 18
								sup 00
							p.icon-text.tel 
								span 8 (926) 02-01-481
							a(href="mailto:info@eat-bit.ru").icon-text.mail.hoverable 
								span info@eat-bit.ru
							.social
								.soc-icon-wrapp.fb
									a(href="#").soc-icon-item
										svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 30 30', style='enable-background:new 0 0 30 30;', xml:space='preserve')
											style(type='text/css').
												.stsoc{fill-rule:evenodd;clip-rule:evenodd;fill:#000000;}
												.stsoc1{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
											path.stsoc(d='M1.5,0h27C29.3,0,30,0.7,30,1.5v27c0,0.8-0.7,1.5-1.5,1.5h-27C0.7,30,0,29.3,0,28.5v-27C0,0.7,0.7,0,1.5,0z')
											path.stsoc1(d='M16.1,23.5h-3.4c-0.2,0-0.4-0.2-0.4-0.4v-7.4h-1.5c-0.2,0-0.4-0.2-0.4-0.4v-3c0-0.2,0.2-0.4,0.4-0.4h1.5l0-1.9\
											c0-1.1,0.3-2,0.9-2.6c0.7-0.7,1.7-1,3.1-1h2.7c0.2,0,0.4,0.2,0.4,0.4v3c0,0.2-0.2,0.4-0.4,0.4h-2c-0.2,0-0.5,0.2-0.6,0.4l0,1.5H19\
											c0.1,0,0.2,0,0.3,0.1c0.1,0.1,0.1,0.2,0.1,0.3c-0.1,1.5-0.3,3-0.3,3c0,0.2-0.2,0.3-0.4,0.3h-2.2v7.4C16.5,23.3,16.3,23.5,16.1,23.5z\
											')
								.soc-icon-wrapp.vk
									a(href="#").soc-icon-item
										svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 30 30', style='enable-background:new 0 0 30 30;', xml:space='preserve')
											style(type='text/css').
												.stsoc{fill-rule:evenodd;clip-rule:evenodd;fill:#ffffff;}
												.stsoc1{fill-rule:evenodd;clip-rule:evenodd;fill:#000000;}
											path.stsoc(d='M1.5,0h27C29.3,0,30,0.7,30,1.5v27c0,0.8-0.7,1.5-1.5,1.5h-27C0.7,30,0,29.3,0,28.5v-27C0,0.7,0.7,0,1.5,0z')
											path.stsoc1(d='M15,21h1.1c0,0,0.3,0,0.5-0.2c0.2-0.2,0.2-0.5,0.2-0.5s0-1.6,0.7-1.9c0.7-0.2,1.6,1.6,2.5,2.3\
											c0.7,0.5,1.2,0.4,1.2,0.4l2.5,0c0,0,1.3-0.1,0.7-1.2c-0.1-0.1-0.4-0.8-1.8-2.3c-1.5-1.6-1.3-1.3,0.5-4c1.1-1.7,1.6-2.7,1.4-3.1\
											c-0.1-0.4-1-0.3-1-0.3l-2.8,0c0,0-0.2,0-0.4,0.1c-0.1,0.1-0.2,0.4-0.2,0.4s-0.4,1.3-1,2.4c-1.2,2.3-1.7,2.4-1.9,2.3\
											c-0.5-0.3-0.4-1.3-0.4-2c0-2.2,0.3-3.2-0.6-3.4c-0.3-0.1-0.5-0.1-1.3-0.1c-1,0-1.8,0-2.3,0.3c-0.3,0.2-0.6,0.5-0.4,0.6\
											c0.2,0,0.6,0.1,0.8,0.5c0.3,0.4,0.3,1.4,0.3,1.4s0.2,2.6-0.4,2.9c-0.4,0.2-0.9-0.2-2-2.3c-0.6-1.1-1-2.3-1-2.3s-0.1-0.2-0.2-0.3\
											C9.5,10,9.2,10,9.2,10l-2.6,0c0,0-0.4,0-0.5,0.2c-0.1,0.2,0,0.5,0,0.5s2.1,5.3,4.4,8C12.6,21.1,15,21,15,21z')         
								.soc-icon-wrapp.insta
									a(href="#").soc-icon-item
										svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 34 34', style='enable-background:new 0 0 34 34;', xml:space='preserve')
											style(type='text/css').
												.stsoc1{fill:#2D2D2D;}
											g
												path.stsoc1(d='M26.5,6h-1C24.7,6,24,6.7,24,7.5v1c0,0.8,0.7,1.5,1.5,1.5h1c0.8,0,1.5-0.7,1.5-1.5v-1C28,6.7,27.3,6,26.5,6\
												L26.5,6z')
											g
												path.stsoc1(d='M17,12.5c3,0,5.5,2.5,5.5,5.5S20,23.5,17,23.5S11.5,21,11.5,18S14,12.5,17,12.5 M17,10c-4.4,0-8,3.6-8,8\
												s3.6,8,8,8s8-3.6,8-8S21.4,10,17,10L17,10z')
											g
												path.stsoc1(d='M25,2.5c3.6,0,6.5,2.9,6.5,6.5v16c0,3.6-2.9,6.5-6.5,6.5H9c-3.6,0-6.5-2.9-6.5-6.5V9c0-3.6,2.9-6.5,6.5-6.5H25\
												M25,0H9C4,0,0,4,0,9v16c0,5,4,9,9,9h16c5,0,9-4,9-9V9C34,4,30,0,25,0L25,0z')
				.half-section
					.side-wrap
						.side-title 
							.h-title.h2 Реквизиты
						.side-content  
							p ИНН 780621518596   
							p ОГРН 316470400068995
							p КПП: 773301001
							p Северо-Западный банк ПАО Сбербанк г. Москва
							p Счет №: 40817810255033390791
							p К/с: 30101810500000000653
							p Бик: 044030653
			.half-side
				.sticky-wrap.js-sticky
					.white-box
						.h-title.h2 Обратная связь
						form(action=" ").js-validate
							.input-wrapper.req
								input.input-main(type="text",data-validation="length required",data-validation-length='min2',data-validation-error-msg="Не заполнено")
								label.input-label Ваше имя
							.input-wrapper.req
								input.input-main(type="email",data-validation="email",data-validation-error-msg="Не заполнено")
								label.input-label E-mail    
							.input-wrapper.req
								input.input-main(type="tel",data-validation="custom",data-validation-regexp="^[-0-9()+ ]+$",data-validation-error-msg="Не заполнено")
								label.input-label Телефон 
							.input-wrapper.req
								textarea.input-main(rows='3',data-validation="required",data-validation-error-msg="Не заполнено")
								label.input-label Сообщение
							.form-footer
								input(type="submit", value='Отправить').btn.btn-black 






















	