mixin icon(name)
	svg(class="icon icon-" + name)
		use(xlink:href="#icon-" + name)

doctype html
html
	head
		meta(charset="utf-8")
		block title
			title Jade Layout Template
		include includes/_head.pug
	body
		//BEGIN out

		.out#top
			

			.page__outer
				.page__wrapper
					//!!!!!!!нужен для решения бага сафари!!!!!
					header.page__header__wrap
						.page__header.cd-auto-hide-header
							include includes/_header.pug			
					main.page__content
						block content
					footer.page__footer(style='background-image: url(img/fbg.jpg);')
						include includes/_footer.pug
		.modals
			include includes/_modals.pug


		//END out
		