doctype html
html
	head
		meta(charset="utf-8")
		title Ваш браузер устарел
		include includes/_head.pug

	body.main-wrapper-body
		.main-wrapper(style='background-image: url(img/zagl/browserbg.jpg);')
			.main-wrapper-content
				.main-wrapper-content-inner
					.main-wrapper-logo
						a(href="#")
							img(src="img/zagl/eatlogo.png", alt="")
					.main-wrapper-text
						h1.h-title.h1.u-white К сожалению, ваш браузер устарел
						.text1.u-white Мы очень рады, что вы к нам зашли, но, к сожалению, ваш браузер устарел и не может отобразить наш сайт корректно. Пожалуйста, обновите ваш браузер, чтобы воспользоваться сервисом Eat-bit: 
					.main-wrapper-links
						mixin links(link,img, text)
							a(href=link).main-wrapper-item
								.img-wrapp
									img(src=img, alt="")
								span.main-wrapper-item-text #{text}
						+links('https://www.google.com/chrome/browser/desktop/',"img/zagl/img-chrome.png",'Google Chrome')
						+links('http://www.mozilla.org/firefox/new/',"img/zagl/img-ff.png",'Mozilla Firefox')
						+links('http://windows.microsoft.com/ie',"img/zagl/img-edge.png",'Internet Explorer')
						+links('http://www.apple.com/osx/',"img/zagl/img-sf.png",'Apple Safari')
						+links('http://www.opera.com/ru',"img/zagl/img-opera.png",'Opera')
					.main-wrapper-contact
						.footer-mailto
							a(href='tel:+79260201481').u-light.u-white.s-text +7 (926) 02-01-481
							span.dot-divider.u-light.u-white.s-text . 
							a(href='mailto:info@eat-bit.ru').u-light.u-white info@eat-bit.ru
			.main-wrapper-footer
				.main-wrapper-footer-inner
					.copyright.u-light.s-text.u-white © 2016 Eat-bit.ru
					.social
						.soc-icon-wrapp.fb
							a(href="https://www.facebook.com/Eat_bit-1533116000313812/" target="_blank").soc-icon-item
								img(src="img/zagl/face.png", alt="")
						.soc-icon-wrapp.vk
							a(href="https://vk.com/eat_bit" target="_blank").soc-icon-item
								img(src="img/zagl/vk.png", alt="")        
						.soc-icon-wrapp.insta
							a(href="https://www.instagram.com/eat_bit/" target="_blank").soc-icon-item
								img(src="img/zagl/inst.png", alt="")
					a(href="http://flxmd.by/" target="_blank").developer
						.dev-icon
							img(src="img/zagl/logof.png", alt="")
						.dev-text
							.u-bold.u-white.s-text FLEX.MEDIA
							.smalllight Разработка сервиса
