doctype html
html
	head
		meta(charset="utf-8")
		title Ваш браузер устарел
		include includes/_head.pug
		style.
			.main-wrapper{display:table;width:100%;min-height:100%;position:relative;background-repeat:no-repeat;background-size:cover;background-position:50% 50%;z-index:-1}.main-wrapper-body,.main-wrapper:before{position:absolute;left:0;right:0;top:0;min-height:100%}.main-wrapper:before{content:'';bottom:0;background:#000;opacity:.4;z-index:0}.main-wrapper-body{width:100%;z-index:-1}.main-wrapper-content,.main-wrapper-content-inner,.main-wrapper-footer-inner{position:relative;z-index:3}.main-wrapper-content{display:table-row;height:100%;text-align:center}.main-wrapper-item,.main-wrapper-logo a{display:inline-block}.main-wrapper-footer{background-color:#000;font-size:0}.main-wrapper-logo{margin:60px 0 65px}.main-wrapper-logo a img{max-width:170px}.main-wrapper-text{max-width:760px;margin:65px auto 70px;padding:0 10px}.main-wrapper-text .h-title{max-width:650px;margin:0 auto 40px}.main-wrapper-links{max-width:900px;padding:0 10px;width:100%;margin:70px auto 90px}.main-wrapper-links:hover .main-wrapper-item:not(:hover){opacity:.6}.main-wrapper-item{vertical-align:top;width:20%;text-align:center;transition:opacity .3s}.main-wrapper-item .img-wrapp{display:inline-block;width:50px;height:50px}.main-wrapper-item .img-wrapp img{max-width:100%;max-height:100%;display:block}.main-wrapper-item .main-wrapper-item-text{width:100%;display:block;color:#fff;margin-top:20px}.main-wrapper-contact{margin:90px auto 100px}.main-wrapper-footer-inner{font-size:0;padding:20px 0}.main-wrapper-footer-inner .copyright,.main-wrapper-footer-inner .developer,.main-wrapper-footer-inner .social{display:inline-block;vertical-align:middle;width:33%;text-align:center}.main-wrapper-footer-inner .social{margin:0}.main-wrapper-footer-inner .social .soc-icon-wrapp{display:inline-block;vertical-align:middle}.main-wrapper-footer-inner .social a:after,.main-wrapper-footer-inner .social a:before{display:none!important}.main-wrapper-footer-inner .social a img{display:block;max-width:100%;max-height:100%}.main-wrapper-footer-inner .developer .dev-icon{display:inline-block;width:35px;height:35px}.main-wrapper-footer-inner .developer .dev-icon img{display:block;max-width:100%;max-height:100%}.main-wrapper-footer-inner .developer .dev-text{text-align:left;display:inline-block;padding-left:10px}@media only screen and (max-width:460px){.main-wrapper-text .h-title{max-width:650px;margin:0 auto 30px;font-size:36px}.main-wrapper-logo{margin:30px 0}.main-wrapper-logo a img{max-width:120px}.main-wrapper-item{width:50%;margin-top:20px}.main-wrapper-contact,.main-wrapper-links,.main-wrapper-text{margin:30px auto}.main-wrapper-footer-inner .copyright,.main-wrapper-footer-inner .social{width:49%}.main-wrapper-footer-inner .developer{width:99%;margin-top:5px}.main-wrapper-footer-inner .developer .dev-icon{width:25px;height:25px}}
	body.main-wrapper-body
		.main-wrapper(style='background-image: url(img/zagl/browserbg.jpg);')
			.main-wrapper-content
				.main-wrapper-content-inner
					.main-wrapper-logo
						a(href="#")
							img(src="img/zagl/eatlogo.png", alt="")
					.main-wrapper-text
						h1.h-title.h1.u-white К сожалению, ваш браузер устарел
						.text1.u-white Мы очень рады, что вы к нам зашли, но, к сожалению, ваш браузер устарел и не может отобразить наш сайт корректно. Пожалуйста, обновите ваш браузер, чтобы воспользоваться сервисом Eat-bit: 
					.main-wrapper-links
						mixin links(link,img, text)
							a(href=link).main-wrapper-item
								.img-wrapp
									img(src=img, alt="")
								span.main-wrapper-item-text #{text}
						+links('https://www.google.com/chrome/browser/desktop/',"img/zagl/img-chrome.png",'Google Chrome')
						+links('http://www.mozilla.org/firefox/new/',"img/zagl/img-ff.png",'Mozilla Firefox')
						+links('http://windows.microsoft.com/ie',"img/zagl/img-edge.png",'Internet Explorer')
						+links('http://www.apple.com/osx/',"img/zagl/img-sf.png",'Apple Safari')
						+links('http://www.opera.com/ru',"img/zagl/img-opera.png",'Opera')
					.main-wrapper-contact
						.footer-mailto
							a(href='tel:+79260201481').u-light.u-white.s-text +7 (926) 02-01-481
							span.dot-divider.u-light.u-white.s-text . 
							a(href='mailto:info@eat-bit.ru').u-light.u-white info@eat-bit.ru
			.main-wrapper-footer
				.main-wrapper-footer-inner
					.copyright.u-light.s-text.u-white © 2016 Eat-bit.ru
					.social
						.soc-icon-wrapp.fb
							a(href="https://www.facebook.com/Eat_bit-1533116000313812/" target="_blank").soc-icon-item
								img(src="img/zagl/face.png", alt="")
						.soc-icon-wrapp.vk
							a(href="https://vk.com/eat_bit" target="_blank").soc-icon-item
								img(src="img/zagl/vk.png", alt="")        
						.soc-icon-wrapp.insta
							a(href="https://www.instagram.com/eat_bit/" target="_blank").soc-icon-item
								img(src="img/zagl/inst.png", alt="")
					a(href="http://flxmd.by/" target="_blank").developer
						.dev-icon
							img(src="img/zagl/logof.png", alt="")
						.dev-text
							.u-bold.u-white.s-text FLEX.MEDIA
							.smalllight Разработка сервиса
